.controls {
  border-radius: var(--media-border-radius);
}

media-player[data-focus]:not([data-playing]) .controls {
  box-shadow: var(--media-focus-ring);
}

.controls media-time-slider {
  --media-slider-height: 36px;
  --media-slider-preview-offset: 8px;
}

.controls :global(.vds-time-group) {
  margin-left: 8px;
}

.controls media-volume-slider {
  --media-slider-width: 72px;
  --media-slider-height: 40px;
  --media-slider-preview-offset: 40px;
  margin-left: 1.5px;
  margin-right: 8px;
}

.controlsGroup {
  display: flex;
  align-items: center;
  width: 100%;
}

.controlsGroup:nth-child(2) {
  padding-inline: 8px;
  padding-bottom: 8px;
}
