:where([data-media-slider]) {
  --width: var(--media-slider-width, 100%);
  --height: var(--media-slider-height, 48px);

  --thumb-size: var(--media-slider-thumb-size, 14px);
  --thumb-focus-size: var(--media-slider-focused-thumb-size, calc(var(--thumb-size) * 1.1));

  --track-width: var(--media-slider-track-width, 100%);
  --track-height: var(--media-slider-track-height, 4px);
  --track-focus-width: var(--media-slider-focused-track-width, var(--track-width));
  --track-focus-height: var(--media-slider-focused-track-height, calc(var(--track-height) * 1.25));

  display: flex;
  align-items: center;
  width: var(--width);
  height: var(--height);
  /** Prevent thumb flowing out of slider. */
  margin: 0 calc(var(--thumb-size) / 2);
}

:where([data-media-slider] > shadow-root) {
  display: unset;
}

:where([data-media-slider] [part*='track']) {
  z-index: 0;
  position: absolute;
  width: var(--track-width);
  height: var(--track-height);
  top: 50%;
  left: 0;
  border-radius: 2px;
  transform: translateY(-50%);
  background-color: rgb(255 255 255 /0.3);
  backdrop-filter: blur(2px);
}

:where([data-media-slider][data-focus] [part='track']) {
  outline-offset: var(--thumb-size);
}

:where([data-media-slider][data-interactive] [part*='track']) {
  width: var(--track-focus-width);
  height: var(--track-focus-height);
}

:where([data-media-slider] [part~='track-fill']) {
  z-index: 2; /** above track and track progress. */
  background-color: #fafafa;
  width: var(--slider-fill-percent);
  will-change: width;
}

:where(media-player[data-live] media-time-slider [part~='track-fill']) {
  background-color: #dc2626;
}

:where(media-time-slider [part~='track-progress']) {
  z-index: 1; /** above track. */
  left: 0;
  width: var(--media-buffered-percent, 0%);
  will-change: width;
  background-color: rgb(255 255 255 / 0.5);
  backdrop-filter: blur(2px);
}

:where([data-media-slider] [part='thumb-container']) {
  z-index: 2; /** above track fill. */
  position: absolute;
  top: 0;
  left: var(--slider-fill-percent);
  width: var(--thumb-size);
  height: 100%;
  transform: translateX(-50%); /** re-center along x-axis. */
  will-change: left;
}

:where([data-media-slider][data-dragging] [part='thumb-container']) {
  left: var(--slider-pointer-percent);
}

:where([data-media-slider] [part='thumb']) {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 9999px;
  background-color: #fff;
  transform: translateY(-50%);
  transition: opacity 0.15s ease-in;
}

:where([data-media-slider][data-dragging], [data-media-slider][data-focus]) :where([part='thumb']) {
  box-shadow: 0 0 0 4px hsla(0, 0%, 100%, 0.4);
}

:where([data-media-slider][data-interactive] [part='thumb']) {
  opacity: 1;
  transition: opacity 0.2s ease-in, box-shadow 0.2s ease;
  width: var(--thumb-focus-size);
  height: var(--thumb-focus-size);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Preview
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where([data-media-slider] [slot='preview']) {
  display: flex;
  position: absolute;
  left: var(--preview-left);
  bottom: calc(100% - 2px);
  flex-direction: column;
  align-items: center;
  opacity: 0;
  border-radius: 2px;
  pointer-events: none;
  transform: translateX(-50%);
  transition: opacity 0.2s ease-out;
  will-change: left;
}

:where([data-media-slider][data-interactive] [slot='preview']) {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

:where([data-media-slider] media-slider-value) {
  padding: 1px 10px;
  color: hsl(0, 0%, 80%);
  background-color: black;
}

:where(
    media-slider-video:not([data-hidden]) + media-slider-value,
    media-slider-thumbnail:not([data-hidden]) + media-slider-value
  ) {
  margin-top: 8px;
}

:where(media-player:not([data-can-play]) media-time-slider media-slider-value) {
  display: none;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Vertical
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where([data-media-slider][aria-orientation='vertical']) {
  --width: var(--media-slider-width, 48px);
  --height: var(--media-slider-height, 100%);

  --track-width: var(--media-slider-track-width, 4px);
  --track-height: var(--media-slider-track-height, 100%);
  --track-focus-width: var(--media-slider-focused-track-width, calc(var(--track-width) * 1.25));
  --track-focus-height: var(--media-slider-focused-track-height, var(--track-height));

  /** Prevent thumb flowing out of slider. */
  margin: calc(var(--thumb-size) / 2) 0;
}

:where([data-media-slider][aria-orientation='vertical'] [part*='track']) {
  top: unset;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

:where([data-media-slider][aria-orientation='vertical'] [part~='track-fill']) {
  width: var(--track-width);
  height: var(--slider-fill-percent);
  will-change: height;
  transform: translateX(-50%);
}

:where([data-media-slider][aria-orientation='vertical'] [part~='track-progress']) {
  top: unset;
  bottom: 0;
  width: var(--track-width);
  height: var(--media-buffered-percent, 0%);
  will-change: height;
}

:where([data-media-slider][aria-orientation='vertical'] [part='thumb-container']) {
  top: unset;
  bottom: var(--slider-fill-percent);
  left: 50%;
  width: 100%;
  will-change: bottom;
  transform: translateX(-50%);
}

:where([data-media-slider][aria-orientation='vertical'][data-dragging] [part='thumb-container']) {
  top: unset;
  bottom: var(--slider-pointer-percent);
}

:where([data-media-slider][aria-orientation='vertical'] [part='thumb']) {
  top: unset;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

:where([data-media-slider][aria-orientation='vertical'] [slot='preview']) {
  top: unset;
  left: calc(100% - 4px);
  bottom: var(--preview-bottom);
  will-change: bottom;
  transform: translateY(50%);
}
