:where([data-media-slider]) {
  --height: var(--media-slider-height, 48px);
  --thumb-size: var(--media-slider-thumb-size, 14px);
  --thumb-focus-size: var(--media-slider-focused-thumb-size, calc(var(--thumb-size) * 1.1));
  --track-height: var(--media-slider-track-height, 4px);
  --track-focus-height: var(--media-slider-focused-track-height, calc(var(--track-height) * 1.25));
  display: flex;
  align-items: center;
  height: var(--height);
  /** Prevent thumb flowing out of slider. */
  margin: 0 calc(var(--thumb-size) / 2);
}

:where([data-media-slider] > shadow-root) {
  display: unset;
}

:where([data-media-slider] [part*='track']) {
  z-index: 0;
  position: absolute;
  height: var(--track-height);
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #5a595a;
}

:where([data-media-slider][data-focus] [part='track']) {
  outline-offset: var(--thumb-size);
}

:where([data-media-slider][data-interactive] [part*='track']) {
  height: var(--track-focus-height);
}

:where([data-media-slider] [part~='track-fill']) {
  z-index: 2; /** above track and track progress. */
  background-color: #fafafa;
  transform-origin: left center;
  will-change: transform;
  transform: translateY(-50%) scaleX(var(--slider-fill-rate));
}

:where(media-player[data-live] media-time-slider [part~='track-fill']) {
  background-color: #dc2626;
}

:where(media-time-slider [part~='track-progress']) {
  z-index: 1; /** above track. */
  left: 0;
  background-color: #878787;
  transform-origin: left center;
  will-change: transform;
  transform: translateY(-50%) scaleX(min(calc(var(--media-buffered) / var(--media-duration)), 1));
}

:where([data-media-slider] [part='thumb-container']) {
  z-index: 2; /** above track fill. */
  position: absolute;
  top: 0;
  left: var(--slider-fill-percent);
  width: var(--thumb-size);
  height: 100%;
  transform: translateX(-50%); /** re-center along x-axis. */
  will-change: left;
}

:where([data-media-slider][data-dragging] [part='thumb-container']) {
  left: var(--slider-pointer-percent);
}

:where([data-media-slider] [part='thumb']) {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 9999px;
  background-color: #fff;
  transform: translateY(-50%);
  transition: opacity 0.15s ease-in;
}

:where([data-media-slider][data-dragging], [data-media-slider][data-focus]) :where([part='thumb']) {
  box-shadow: 0 0 0 4px hsla(0, 0%, 100%, 0.4);
}

:where([data-media-slider][data-interactive] [part='thumb']) {
  opacity: 1;
  transition: opacity 0.2s ease-in;
  width: var(--thumb-focus-size);
  height: var(--thumb-focus-size);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Preview
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where([data-media-slider] [slot='preview']) {
  display: flex;
  position: absolute;
  top: var(--preview-top);
  left: var(--preview-left);
  flex-direction: column;
  align-items: center;
  opacity: 0;
  border-radius: 2px;
  pointer-events: none;
  transform: translateX(-50%);
  transition: opacity 0.2s ease-out;
  will-change: left;
}

:where([data-media-slider][data-interactive] [slot='preview']) {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

:where([data-media-slider] media-slider-value) {
  padding: 1px 10px;
  color: hsl(0, 0%, 80%);
  background-color: black;
}

:where(
    media-slider-video:not([data-hidden]) + media-slider-value,
    media-slider-thumbnail:not([data-hidden]) + media-slider-value
  ) {
  margin-top: 8px;
}
