/* hide default UI - only shown if optional UI css files are loaded. */
media-play-button > shadow-root,
media-mute-button > shadow-root,
media-fullscreen-button > shadow-root,
media-slider > shadow-root,
media-time-slider > shadow-root,
media-volume-slider > shadow-root {
  display: none;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * MEDIA
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-player {
  width: 100%;
  display: inline-block;
  position: relative;
  contain: layout;
}

media-outlet {
  display: block;
}

media-outlet audio {
  width: 100%;
}

media-outlet video {
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: black;
}

media-player[aspect-ratio] media-outlet {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: min(
    max(var(--media-min-height, 150px), calc(100% / var(--media-aspect-ratio))),
    var(--media-max-height, 100vh)
  );
}

media-player[aspect-ratio] media-outlet > shadow-root > * {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * DISPLAY
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-icon {
  width: 32px;
  height: 32px;
}

media-icon svg {
  width: 100%;
  height: 100%;
}

media-time {
  display: inline-block;
  contain: content;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * BUTTONS
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-toggle-button,
media-play-button,
media-mute-button,
media-fullscreen-button {
  display: inline-block;
  position: relative;
  contain: content;
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

media-toggle-button:focus,
media-play-button:focus,
media-mute-button:focus,
media-fullscreen-button:focus {
  outline: none;
}

media-toggle-button:focus-visible,
media-play-button:focus-visible,
media-mute-button:focus-visible,
media-fullscreen-button:focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

media-toggle-button.focus-visible,
media-play-button.focus-visible,
media-mute-button.focus-visible,
media-fullscreen-button.focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

media-fullscreen-button[hidden] {
  display: none;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * SLIDERS
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-slider,
media-time-slider,
media-volume-slider {
  display: inline-block;
  position: relative;
  contain: layout;
  width: 100%;
  cursor: pointer;
  user-select: none;
  touch-action: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

media-slider:focus,
media-time-slider:focus,
media-volume-slider:focus {
  outline: none;
}

media-slider:focus-visible,
media-time-slider:focus-visible,
media-volume-slider:focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

media-slider.focus-visible,
media-time-slider.focus-visible,
media-volume-slider.focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Slider Value Text
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-slider-value-text {
  display: inline-block;
  contain: content;
  font-size: 14px;
  font-family: sans-serif;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Slider Video
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-slider-video {
  display: inline-block;
  contain: content;
  background-color: black;
}

media-slider-video video {
  display: block;
  height: auto;
  width: 156px;
}

/* Temporarily hide video while loading. */
media-slider-video:not([can-play]) {
  opacity: 0;
}

/* Hide video if it fails to load. */
media-slider-video[error],
media-slider-video[error] video {
  display: none;
  width: 0px;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * POSTER
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

media-poster {
  display: block;
  contain: content;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  box-sizing: border-box;
  transition: opacity 0.2s ease-out;
}

media-poster img {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  object-position: inherit;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

media-poster[img-error] {
  display: none;
}

media-player:not([started]) media-poster {
  opacity: 1;
  pointer-events: auto;
}
