/* hide default UI - only shown if optional UI css files are loaded. */
:where([data-media-button] > shadow-root, [data-media-slider] > shadow-root) {
  display: none;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Media Base
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(media-player) {
  width: 100%;
  display: inline-block;
  position: relative;
  contain: layout;
  box-sizing: border-box;
}

:where(media-player:focus) {
  outline: none;
}

:where(media-outlet) {
  display: block;
  box-sizing: border-box;
  background-color: var(--media-outlet-bg-color, black);
}

:where(media-outlet audio) {
  width: 100%;
}

:where(media-outlet video) {
  display: inline-block;
  width: 100%;
  height: auto;
}

:where(media-player[aspect-ratio] media-outlet) {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: min(
    max(var(--media-min-height, 150px), calc(100% / var(--media-aspect-ratio))),
    var(--media-max-height, 100vh)
  );
}

:where(media-player[aspect-ratio] media-outlet > shadow-root > *) {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Display Base
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(media-icon) {
  width: 32px;
  height: 32px;
}

:where(media-icon svg) {
  width: 100%;
  height: 100%;
}

:where(media-time) {
  display: inline-block;
  contain: content;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--media-font-family, sans-serif);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Buttons Base
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where([data-media-button]) {
  display: inline-block;
  position: relative;
  contain: layout;
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:where([data-media-button]:focus) {
  outline: none;
}

:where([data-media-button][data-focus]) {
  outline: var(--media-focus-ring, 3px solid Highlight);
  outline: var(--media-focus-ring, 3px solid -webkit-focus-ring-color);
}

:where(media-live-indicator:not([data-live])) {
  cursor: unset;
}

:where(media-fullscreen-button[data-hidden], media-seek-button[data-hidden]) {
  display: none;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Sliders Base
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where([data-media-slider]) {
  display: inline-block;
  position: relative;
  contain: layout;
  width: 100%;
  cursor: pointer;
  user-select: none;
  touch-action: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:where([data-media-slider][disabled]) {
  cursor: unset;
}

:where([data-media-slider]:focus) {
  outline: none;
}

:where([data-media-slider][data-focus] [part='track']) {
  outline: var(--media-focus-ring, 3px solid Highlight);
  outline: var(--media-focus-ring, 3px solid -webkit-focus-ring-color);
  outline-offset: 3px;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Slider Value Text Base
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(media-slider-value) {
  display: inline-block;
  contain: content;
  font-size: 14px;
  font-family: var(--media-font-family, sans-serif);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Slider Thumbnail Base
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(media-slider-thumbnail) {
  display: flex;
  align-items: center;
  justify-content: center;
  contain: content;
  box-sizing: border-box;
  min-width: 120px;
  min-height: 80px;
  max-width: 180px;
  max-height: 160px;
  background-color: black;
}

:where(media-slider-thumbnail [part='container']) {
  display: block;
  width: var(--thumbnail-width);
  height: var(--thumbnail-height);
  overflow: hidden;
}

:where(media-slider-thumbnail [part='img']) {
  max-width: unset !important;
}

:where(media-slider-thumbnail[data-hidden]) {
  display: none;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Slider Video Base
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(media-slider-video) {
  background-color: black;
  box-sizing: border-box;
  contain: content;
  display: inline-block;
}

:where(media-slider-video [part='video']) {
  display: block;
  height: auto;
  width: 156px;
}

/* Temporarily hide video while loading. */
:where(media-slider-video[data-loading]) {
  opacity: 0;
}

/* Hide video if it fails to load. */
:where(media-slider-video[data-hidden], media-slider-video[data-hidden] [part='video']) {
  display: none;
  width: 0px;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Poster Base
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(media-poster) {
  display: block;
  contain: content;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  box-sizing: border-box;
  transition: opacity 0.2s ease-out;
}

:where(media-poster [part='img']) {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  object-position: inherit;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

:where(media-poster[data-hidden]) {
  display: none;
}

:where(media-player:not([data-started]) media-poster) {
  opacity: 1;
  pointer-events: auto;
}
