---
import { NAV_DESKTOP_MIN_WIDTH_QUERY } from '../../../../../stores/media-query';
import type { NavItem } from '../../navigation';
import NavItems from '../nav-items.astro';
import NavLink from '../nav-link.svelte';
import NavDesktopMenu from './nav-desktop-menu.svelte';

export interface Props {
  items: NavItem[];
}

const { items } = Astro.props;
---

<NavItems>
  {
    items.map((item) => {
      if ('href' in item) {
        return (
          <li>
            <NavLink {item} />
          </li>
        );
      }

      return (
        <li>
          <NavDesktopMenu {...item} client:media={NAV_DESKTOP_MIN_WIDTH_QUERY} />
        </li>
      );
    })
  }
</NavItems>
