.light,
.prefers-light-scheme,
.dark .bg-inverse {
  --color-brand: 79 70 229;
  --color-secondary: 216 35 117;
  --color-soft: 68 78 94;
  --color-body: 240 240 240;
  --color-elevate: 255 255 255;
  --color-inverse: 5 11 23;
  --color-border: 219 219 219;
  --color-code-tag: 0 92 197;
  --color-code-fn: 111 66 193;
}

:root {
  font-size: 16px;
  scroll-padding-top: 4rem;

  --font-family-sans: Inter VF, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-family-mono: Fira Code VF, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation, Mono, monospace;
}

body {
  --article-max-width: 80ch;

  --navbar-height: 4rem;
  --navbar-top: var(--announcement-bar-height, 0px);
  --sidebar-width: 220px;

  --content-top: calc(
    calc(var(--announcement-bar-height, 0px) + var(--navbar-height, 0px)) +
      var(--breadcrumb-bar-height, 0px)
  );
  --content-height: calc(100vh - var(--content-top));
  --content-max-width: 1440px;

  --breadcrumb-bar-top: calc(var(--navbar-height, 0px) + var(--announcement-bar-height, 0px));
}

body[data-announcement-bar] {
  --announcement-bar-height: 2.75rem;
}

body[data-scrolled] {
  --announcement-bar-height: 0px;
}

body[data-breadcrumb-bar] {
  --breadcrumb-bar-height: 3rem;
}

@media screen and (min-width: 825px) {
  body[data-breadcrumb-bar] {
    --breadcrumb-bar-height: 0px;
  }
}

.dark,
.prefers-dark-scheme,
.light .bg-inverse {
  color-scheme: dark;
  --color-brand: 165 180 252;
  --color-secondary: 244 114 182;
  --color-soft: 150 155 166;
  --color-inverse: 245 245 245;
  --color-border: 44 44 44;
  --color-elevate: 16 16 16;
  --color-body: 5 5 5;
  --color-code-tag: 121 184 255;
  --color-code-fn: 179 146 240;
}

.js-focus-visible :focus:not([data-focus-visible-added]):not([data-focus]) {
  @apply outline-none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.bg-inverse {
  color: white;
  background-color: rgb(5 11 23) !important;
}

.dark .bg-inverse {
  color: black;
  background-color: rgb(245 245 245) !important;
}

.theme-secondary {
  --color-brand: var(--color-secondary);
}
