:root {
  font-size: 16px;
  scroll-padding-top: 12rem;

  --font-family-sans: Inter VF, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation, Mono,
    Fira Code VF, monospace;

  --color-brand: #d82375;
  --color-brand-rgb: 216 35 117;
  --color-brand-soft: #fce7f3;
  --color-brand-soft-rgb: 252 231 243;

  --color-soft: #707070;
  --color-inverse: #161616;
  --color-current: #fafafa;
  --color-outline: #140c00;
  --color-divider: #bfbfbf;
  --color-hover: transparent;
  --color-hover-inverse: transparent;
  --color-elevate: #fafafa;
  --color-elevate-border: #140c00;
  --color-body: #fff8ee;

  --color-dots: rgba(216, 191, 161, 0.2);

  --color-focus: #6366f1bf;

  --navbar-height: 4rem;
  --navbar-padding: 1rem 0.5rem;
  --navbar-max-width: 1440px;
  --navbar-border-bottom: 1px solid var(--color-divider);
  --breadcrumbs-height: 0px;

  --gradient-linear-rose: linear-gradient(90deg, #fed7aa 0.14%, #fbcfe8 100.14%);

  --gradient-radial-pink: radial-gradient(
    94.88% 218.42% at 50% 50%,
    rgba(219, 39, 119, 0.2) 0%,
    rgba(236, 72, 153, 0) 100%
  );
  --gradient-radial-rose: radial-gradient(
    94.88% 218.42% at 50% 50%,
    rgba(225, 29, 72, 0.2) 0%,
    rgba(244, 63, 94, 0) 100%
  );
  --gradient-radial-orange: radial-gradient(
    94.88% 218.42% at 50% 50%,
    rgba(234, 88, 12, 0.2) 0%,
    rgba(249, 115, 22, 0) 100%
  );

  --main-padding-x: 1rem;
}

@media screen and (min-width: 992px) {
  :root {
    scroll-padding-top: 6rem;
    --main-padding-x: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --navbar-padding: 1.25rem 1.25rem;
  }
}

@media screen and (min-width: 1460px) {
  :root {
    --navbar-padding: 1.25rem 0;
  }
}

:root.dark,
.prefers-dark-scheme {
  color-scheme: dark;

  --color-brand: #f472b6;
  --color-brand-soft: #fbcfe8;
  --color-brand-rgb: 244, 114, 182;

  --color-soft: #8c8c8c;
  --color-inverse: #fafafa;
  --color-current: #161616;
  --color-outline: #a299a0;
  --color-divider: #333333;
  --color-hover: transparent;
  --color-hover-inverse: transparent;
  --color-elevate: #1f1f1f;
  --color-elevate-border: #0a0a0a;
  --color-body: #161616;

  --color-dots: rgba(30, 30, 30, 0.6);

  --color-focus: #a5b4fc;
}

.js-focus-visible :focus:not([data-focus-visible-added]) {
  @apply outline-none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-size: 40px 40px;
  background-image: radial-gradient(var(--color-dots) 2px, transparent 0);
}
