:root {
  font-size: 16px;
  scroll-padding-top: 12rem;

  --font-family-sans: Inter VF, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation, Mono,
    Fira Code VF, monospace;

  --color-brand: rgb(219, 39, 119);
  --color-brand-rgb: 219, 39, 119;

  --color-gray-soft: rgb(112, 112, 112);
  --color-gray-inverse: rgb(0, 0, 0);
  --color-gray-current: rgb(255, 255, 255);
  --color-gray-outline: rgb(234, 234, 234);
  --color-gray-outline-strong: rgb(220, 220, 220);
  --color-gray-divider: rgb(234, 234, 234);
  --color-gray-hover: rgb(240, 240, 240);
  --color-gray-hover-inverse: rgb(53, 53, 53);
  --color-gray-elevate: rgb(255, 255, 255);
  --color-gray-body: rgb(255, 255, 255);

  --color-focus: rgb(99 102 241 / 0.75);

  --navbar-height: 4rem;
  --navbar-padding: 1rem 0.5rem;
  --navbar-max-width: 1440px;
  --navbar-border-bottom: 1px solid var(--color-gray-outline);
  --breadcrumbs-height: 0px;

  --main-padding-x: 1rem;
}

@media screen and (min-width: 992px) {
  :root {
    scroll-padding-top: 6rem;
    --main-padding-x: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --navbar-padding: 1.25rem 1.25rem;
  }
}

@media screen and (min-width: 1460px) {
  :root {
    --navbar-padding: 1.25rem 0;
  }
}

:root.dark,
.prefers-dark-scheme {
  color-scheme: dark;

  --color-brand: rgb(244, 114, 182);
  --color-brand-rgb: 244, 114, 182;

  --color-focus: rgb(165 180 252);

  --color-gray-soft: rgb(140, 140, 140);
  --color-gray-inverse: rgb(255, 255, 255);
  --color-gray-current: rgb(0, 0, 0);
  --color-gray-outline: rgb(49, 49, 49);
  --color-gray-outline-strong: rgb(97, 97, 97);
  --color-gray-divider: rgb(49, 49, 49);
  --color-gray-hover: rgb(54, 54, 54);
  --color-gray-hover-inverse: rgb(245, 245, 245);
  --color-gray-elevate: rgb(45, 45, 45);
  --color-gray-body: rgb(22, 22, 22);
}

.js-focus-visible :focus:not([data-focus-visible-added]) {
  @apply outline-none;
}

* {
  -webkit-tap-highlight-color: transparent;
}
