.docs .category {
  @apply mt-0 font-semibold;
}

.docs .category + h1 {
  @apply -mt-7;
}

.DocSearch-Button-Key {
  @apply !ring-0;
}

.api-table tbody tr td:first-child > code,
.api-table tbody tr td:first-child > div > code {
  background-color: unset;
}

.docs .code-block {
  margin-block: 2rem;
}

.docs .code-editor {
  margin-block: 3.5rem;
}

.github-light,
.github-dark {
  background-color: unset !important;
}

.github-light code,
.github-dark code {
  padding: 0 !important;
  border: unset !important;
  background-color: unset !important;
}

.dark .github-light {
  display: none;
}

.light .github-dark {
  display: none;
}

#main-sidebar > div,
#table-of-contents > ul {
  --scrollbar-thumb-bg: none;
  --scrollbar-track-bg: none;
}

#main-sidebar:hover > div,
#table-of-contents:hover > ul {
  --scrollbar-thumb-bg: rgb(var(--color-border));
}

#main-sidebar .categories + a {
  margin-top: 1.5rem;
}
