.prose {
  @apply text-soft text-base;
}

.prose hr {
  @apply border-border my-3 h-px w-full border-t;
}

.prose strong {
  @apply text-inverse font-semibold;
}

.prose a strong,
.prose blockquote strong,
.prose thead th strong {
  @apply text-inherit;
}

.prose a:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply hocus:text-inverse border-0 text-[0.95em] font-medium underline;
}

.prose a .external-link-icon {
  @apply ml-0.5 inline-block h-[0.8em] w-[0.8em];
}

.prose blockquote {
  @apply text-inverse border-soft my-[1.6em] border-l-4 py-1.5 pl-3 font-medium italic;
}

.prose blockquote > p:first-child {
  margin: 0;
}

.prose p:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply my-8 font-normal;
}

.prose ol:not(:where([class~='not-prose'], [class~='not-prose'] *)),
.prose ul:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply my-5 pl-4;
}

.prose ol:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply list-decimal;
}

.prose ul:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply list-disc;
}

.prose ol > li::marker,
.prose ul > li::marker {
  @apply text-inverse font-normal;
}

.prose li:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply my-0.5;
}

.prose ol > li:not(:where([class~='not-prose'], [class~='not-prose'] *)),
.prose ul > li:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply pl-1.5;
}

.prose ul ul:not(:where([class~='not-prose'], [class~='not-prose'] *)),
.prose ul ol:not(:where([class~='not-prose'], [class~='not-prose'] *)),
.prose ol ul:not(:where([class~='not-prose'], [class~='not-prose'] *)),
.prose ol ol:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply my-3;
}

.prose h1:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply text-inverse mb-[0.88em] mt-0 text-4xl font-[800] leading-[1.1];
}

.prose h1 strong {
  @apply font-[900] text-inherit;
}

.prose h2:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply text-inverse mb-[1.1em] mt-[1.3em] text-3xl font-[700] leading-[1.33];
}

.prose h2 strong {
  @apply font-[800] text-inherit;
}

.prose h3:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply text-inverse mb-[1.1em] mt-[1.2em] text-2xl font-[600] leading-[1.6];
}

.prose h3 strong {
  @apply font-[700] text-inherit;
}

.prose h4:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply text-inverse mb-[1em] mt-[1em] text-[20px] font-[500] leading-[1.5];
}

.prose h4 strong {
  @apply font-[700] text-inherit;
}

.prose img {
  @apply border-border/90 mx-auto border shadow-sm;
}

.prose img,
.prose picture,
.prose video {
  @apply my-[2em];
}

.prose picture > img {
  @apply my-0;
}

.prose code:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply text-inverse mx-px rounded-[3px] border-0 font-mono text-[0.84em] font-semibold;
  font-variant-ligatures: none;
}

.prose h2 code {
  @apply text-sm;
}
.prose h2 code {
  @apply text-sm;
}

.prose h2 code {
  @apply text-[0.9em];
}

.prose hr + *:not(:where([class~='not-prose'], [class~='not-prose'] *)),
.prose h2 + *:not(:where([class~='not-prose'], [class~='not-prose'] *)),
.prose h3 + *:not(:where([class~='not-prose'], [class~='not-prose'] *)),
.prose h4 + *:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply mt-0;
}

.prose table {
  @apply m-0 w-full border-0 text-left;
  @apply border-spacing-0 text-sm leading-[1.71];
  table-layout: auto;
}

.prose thead {
  @apply text-inverse bg-border/10 dark:bg-border/30 sticky left-0 top-0 w-full font-medium;
  backdrop-filter: blur(8px);
}

.prose thead th {
  @apply flex-1 whitespace-nowrap p-3;
}

.prose tbody {
  @apply w-full align-baseline;
}

.prose tr {
  @apply border-border/60 w-full border-b;
}

.prose td {
  @apply flex-1 whitespace-nowrap p-3;
}

.prose tbody td:not(:first-child) code {
  @apply text-soft border-0 bg-transparent text-xs font-normal shadow-none;
}

.prose tbody .empty {
  @apply opacity-50;
}

.prose tbody tr td:first-child code {
  @apply text-code-fn/90 border-0 bg-transparent px-1 py-0.5 font-medium !shadow-transparent;
}

.prose figure {
  @apply my-2;
}

.prose figure > * {
  @apply my-0;
}

.prose figcaption {
  @apply mt-3 text-center text-sm italic leading-[1.42];
}

.prose p > img {
  @apply border-border/50 mx-10 my-auto max-w-[600px] rounded-sm border;
}

.prose pre {
  display: inline-flex;
  overflow: visible !important;
  tab-size: 2;
  -o-tab-size: 2;
  -moz-tab-size: 2;
}

.prose p + .callout,
.prose p + .steps {
  @apply mt-10;
}

.prose .steps + p {
  @apply mb-16;
}

.prose .callout + .steps {
  @apply mt-14;
}

.prose .callout + table {
  @apply mt-16;
}

.prose .tabbed-links + p {
  @apply mb-10;
}

.prose .step .description > code {
  @apply text-inverse;
}

.prose .step .code-block {
  @apply m-0 p-0;
}

.prose .code-block + .code-block:not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply mt-2;
}

.prose h1 + p {
  @apply -mt-4 mb-10 text-lg;
}

.prose h1 + .steps,
.prose h2 + .steps,
.prose h3 + .steps {
  @apply mt-10;
}

.prose .heading-wrapper {
  --icon-size: 1.125rem;
}

.prose .heading-wrapper > * {
  @apply inline-block;
}

.prose .heading-wrapper > .anchor-link {
  @apply text-soft relative ml-1.5 inline-flex justify-center rounded-[1px] border-0 align-baseline opacity-0;
  width: var(--icon-size);
  height: var(--icon-size);
  text-decoration: none;
  border-bottom: unset;
}
.prose .heading-wrapper .anchor-icon {
  @apply h-[1.2em] w-[1.2em];
}

.prose .heading-wrapper > .anchor-link:focus-visible,
.prose .heading-wrapper > .anchor-link:hover {
  @apply opacity-100;
}

.prose .heading-wrapper + *,
.prose .heading-wrapper + astro-island astro-slot > div,
.prose .heading-wrapper + style + astro-island astro-slot > div,
.prose .heading-wrapper + style + script + astro-island astro-slot > div,
.prose .heading-wrapper + astro-island > div,
.prose .heading-wrapper + style + astro-island > div,
.prose .heading-wrapper + style + script + astro-island > div,
.prose .heading-wrapper + * > .heading-wrapper:first-child > *:first-child,
.prose .heading-wrapper + * > div:first-child > .heading-wrapper:first-child > *:first-child,
.prose .heading-wrapper + div > *:first-child {
  margin-top: 0 !important;
}

.prose .callout-content p:first-child {
  margin-top: 0;
}

.prose .callout-content p:only-child {
  margin: 0;
}
