---
import clsx from 'clsx';
import Button from '../components/button.svelte';
import TextGradient from '../components/text-gradient.svelte';
import ReactLogo from '../icons/frameworks/react.svg';
import TailwindLogo from '../icons/frameworks/tailwind.svg';
import NextIcon from '../icons/next-icon.svelte';
import ReactIcon from '../icons/react-icon.svelte';
import TailwindIcon from '../icons/tailwind-icon.svelte';
import DefaultLayout from '../layouts/default-layout.astro';
import AnnouncementBar from '../layouts/parts/announcement-bar.astro';

const title = 'Vidstack: Video platform for frontend developers';

const description =
  'Build robust and accessible video/audio experiences that convert in hours, not weeks.';
---

<DefaultLayout {title} {description} announcementBar>
  <AnnouncementBar href="#" slot="top">
    <span class="font-semibold">Player Update:</span> 1.0 is coming!
  </AnnouncementBar>

  <!-- hero -->
  <section class="w-full flex flex-col items-center justify-center mt-12 576:mt-20 px-4">
    <h1
      class={clsx(
        'text-[48px] leading-[1.25] max-w-[375px] text-center font-bold',
        '576:text-[64px] 576:leading-[1.15] 576:max-w-[480px]',
        '768:text-[72px] 768:max-w-[580px]',
        '992:text-[86px] 992:max-w-[680px] 992:leading-[1.15]',
      )}
    >
      Video Platform for
      <TextGradient client:load>Next.js</TextGradient>
    </h1>

    <p
      class={clsx(
        'text-soft mt-8 text-center text-xl max-w-[375px] leading-relaxed',
        '576:max-w-[472px] 576:text-xl',
        '768:max-w-[680px] 768:text-2xl 768:leading-[1.5]',
      )}
    >
      Everything you need to quickly build & ship robust video/audio experiences - starting with
      React and Next.js.
    </p>

    <div class="flex items-center mt-10 space-x-4 768:mt-12">
      <Button primary arrow>Join Waitlist</Button>
      <Button
        arrow
        href="/player"
        gradient="--from-color: oklch(0.61 0.19 44.84); --to-color: oklch(0.6 0.2 354.46);"
      >
        Try Player
      </Button>
    </div>

    <div class="flex flex-col mt-20 items-center justify-center">
      <h2 class="uppercase text-soft text-[13px] font-medium">works seamlessly with</h2>

      <div class="flex items-center mt-6 space-x-6 font-bold text-[40px]">
        <a
          class="hocus:scale-105 transition rounded-md text-soft hocus:text-[#00D8FF]"
          href="https://react.dev"
          aria-label="React"
          target="_blank"
        >
          <ReactIcon class="w-9 h-9" />
        </a>

        <a
          class="hocus:scale-105 transition rounded-md text-soft hocus:text-[#06B6D4]"
          href="https://tailwindcss.com"
          aria-label="Tailwind CSS"
          target="_blank"
        >
          <TailwindIcon class="w-11 h-11" />
        </a>

        <a
          class="hocus:scale-105 transition rounded-md text-soft hocus:text-inverse"
          href="https://nextjs.org"
          aria-label="Next.js"
          target="_blank"
        >
          <NextIcon class="w-10 h-10" />
        </a>
      </div>
    </div>
  </section>

  <!-- content -->

  <div class="h-[900px]"></div>
</DefaultLayout>
