---
import clsx from 'clsx';

import BookOpenIcon from '~astro-icons/lucide/book-open';
import FileVideoIcon from '~astro-icons/lucide/file-video-2';
import HeartHandshakeIcon from '~astro-icons/lucide/heart-handshake';
import NetworkIcon from '~astro-icons/lucide/network';
import PackageIcon from '~astro-icons/lucide/package';
import TerminalIcon from '~astro-icons/lucide/terminal';

import Button from '../components/button.svelte';
import CodeSnippet from '../components/code-snippet/code-snippet.astro';
import GitHubCommentTable from '../components/github-comment-table.astro';
import GitHubComment from '../components/github-comment.svelte';
import GradientBorder from '../components/gradient-border.svelte';
import JoinWaitlist from '../components/join-waitlist.svelte';
import MockCodeEditor from '../components/mocks/code-editor/mock-code-editor.astro';
import MockDashboard from '../components/mocks/dashboard/mock-dashboard.astro';
import GitTerminalProcess from '../components/pages/home/git-terminal-process.svelte';
import { openSourceProjects } from '../components/pages/home/oss-projects';
import VideoPlayer from '../components/players/lazy-video-player.svelte';
import FeatureSection from '../components/sections/feature-section.astro';
import GridContent from '../components/sections/grid-content.astro';
import HeroSection from '../components/sections/hero-section.astro';
import Step from '../components/steps/step.svelte';
import Steps from '../components/steps/steps.svelte';
import Style from '../components/style/style.svelte';
import TypeWriter from '../components/style/type-writer.svelte';
import TextGradient from '../components/text-gradient.svelte';
import GitHubIcon from '../icons/github-icon.svelte';
import NextIcon from '../icons/next-icon.svelte';
import ReactIcon from '../icons/react-icon.svelte';
import TailwindIcon from '../icons/tailwind-icon.svelte';
import DefaultLayout from '../layouts/default-layout.astro';
import SocialLink from '../layouts/parts/social-link.astro';

const title = 'Vidstack: Video platform for frontend developers';
const description = 'Build robust and accessible video/audio experiences in minutes, not weeks.';
---

<DefaultLayout {title} {description} announcementBar>
  <Style
    style="--from-color: oklch(0.61 0.19 44.84); --to-color: oklch(0.6 0.2 354.46);"
    darkStyle="--from-color: oklch(0.7 0.19 47.31); --to-color: oklch(0.66 0.21 353.93);"
    client:load
  >
    <HeroSection>
      <Fragment slot="title">
        Video Platform.
        <br />
        <span class="inline-block mt-1">
          For
          <TextGradient>Next.js.</TextGradient>
        </span>
      </Fragment>

      <p slot="description">
        The easiest way to manage, build, and ship video/audio experiences with React & Next.js.
      </p>

      <Fragment slot="cta">
        <JoinWaitlist primary client:load />
        <Button arrow href="/player" gradient>Try Player</Button>
      </Fragment>

      <Fragment slot="frameworks">
        <a
          class="hocus:scale-105 transition rounded-md text-soft hocus:text-[#00D8FF]"
          href="https://react.dev"
          aria-label="React"
          target="_blank"
        >
          <ReactIcon class="w-9 h-9" />
        </a>

        <a
          class="hocus:scale-105 transition rounded-md text-soft hocus:text-[#06B6D4]"
          href="https://tailwindcss.com"
          aria-label="Tailwind CSS"
          target="_blank"
        >
          <TailwindIcon class="w-11 h-11" />
        </a>

        <a
          class="hocus:scale-105 transition rounded-md text-soft hocus:text-inverse"
          href="https://nextjs.org"
          aria-label="Next.js"
          target="_blank"
        >
          <NextIcon class="w-10 h-10" />
        </a>
      </Fragment>
    </HeroSection>
  </Style>

  <Style style="--from-color: oklch(0.61 0.27 4.7); --to-color: oklch(0.64 0.3 349.83);">
    <FeatureSection title="Dashboard." subtitle="Built for video." align="start">
      <FileVideoIcon width="100%" height="100%" slot="icon" />

      <p slot="description">
        Move faster with everything in one place and a few clicks away. Create projects for each
        site, manage video/audio assets, streams, collections, thumbnails, captions, and more.
      </p>

      <JoinWaitlist gradient slot="cta" client:load />

      <MockDashboard slot="content" />
    </FeatureSection>
  </Style>

  <Style
    style="--from-color: oklch(0.56 0.19 272.49); --to-color: oklch(0.81 0.15 217.11);"
    darkStyle="--from-color: oklch(0.56 0.19 272.49); --to-color: oklch(0.63 0.13 217.76);"
    client:load
  >
    <FeatureSection title="React." subtitle="Built for you." align="center">
      <ReactIcon width="100%" height="100%" slot="icon" />

      <p slot="description">
        Build a production-ready player in minutes using our free and open-source UI library. Use
        the tools you know and love to build beautiful media experiences.
      </p>

      <Button arrow href="/player" gradient slot="cta">Try Player</Button>

      <MockCodeEditor
        files={[
          { path: 'app/page.tsx', snippet: 'home/editor/page' },
          { path: 'app/player/player.tsx', snippet: 'home/editor/player' },
          { path: 'app/player/buttons.tsx', snippet: 'home/editor/player-buttons' },
          { path: 'app/player/sliders.tsx', snippet: 'home/editor/player-sliders' },
          {
            path: 'app/player/poster.webp',
            imgSrc:
              'https://image.mux.com/VZtzUzGRv02OhRnZCxcNg49OilvolTqdnFLEqBsTwaxU/thumbnail.webp?time=268&width=640',
            imgAlt: 'Fake Video Poster',
          },
          {
            path: 'app/player/video.mp4',
            videoSrc: 'https://stream.mux.com/VZtzUzGRv02OhRnZCxcNg49OilvolTqdnFLEqBsTwaxU/low.mp4',
          },
          { path: 'app/player/menus.tsx', snippet: 'home/editor/player-menus' },
        ]}
        openFile="app/player/player.tsx"
        nextTemplate
        slot="content"
      >
        <VideoPlayer slot="preview" client:load />
      </MockCodeEditor>
    </FeatureSection>
  </Style>

  <Style
    style="--from-color: oklch(0.56 0.18 314.7); --to-color: oklch(0.56 0.26 294.47);"
    client:load
  >
    <FeatureSection title="Ready." subtitle="Built to ship." align="center">
      <PackageIcon width="100%" height="100%" slot="icon" />

      <p slot="description">
        Don't have time to build your own player? We provide high-quality, accessible, and
        customizable experiences out of the box.
      </p>

      <div class="relative" slot="cta">
        <GradientBorder class="rounded-full" />
        <div
          class={clsx(
            'w-[240px] h-[38px] z-10 bg-body flex items-center rounded-full relative',
            'bg-clip-padding border-2 border-transparent font-medium font-mono text-sm',
          )}
        >
          <TerminalIcon
            class="text-[var(--from-color)] dark:text-[var(--to-color)] w-4 h-4 absolute top-2.5 left-[18px]"
          />
          <div class="translate-x-10">
            <TypeWriter text="npm i @vidstack/react" speed={100} delay={1200} client:visible />
          </div>
        </div>
        <div class="w-[242px] h-[40px] absolute top-0.5 left-0.5 bg-brand/10 rounded-full"></div>
      </div>

      <div class="w-full flex items-center justify-center" slot="content">
        <CodeSnippet id="home/default-layout" class="w-full max-w-3xl" numbered />
      </div>
    </FeatureSection>
  </Style>

  <Style style="--from-color: oklch(0.7 0.19 47.31); --to-color: oklch(0.66 0.21 353.93);">
    <FeatureSection title="Next.js." subtitle="Built to be seamless." align="start">
      <NextIcon width="100%" height="100%" slot="icon" />

      <p slot="description">
        We're building Vidstack for a seamless start-to-finish workflow. No setup headaches, no
        state management, and no backend APIs. Flexible hooks and components are waiting for you.
      </p>

      <JoinWaitlist slot="cta" gradient client:load />

      <div class="w-full flex items-center justify-center" slot="content">
        <Steps
          class="w-full"
          stepListClass="max-w-xl"
          color="orange"
          label="Next.js Integration Steps"
          steps={['Setup', 'Play', 'Analyze']}
          animated
          client:visible
        >
          <div class="min-w-full max-w-3xl">
            <!-- Setup -->
            <Step>
              <div class="w-full relative overflow-hidden min-h-[512px]">
                <CodeSnippet
                  title=".env"
                  id="home/next-steps/setup-env"
                  class="w-[80%] overflow-hidden max-w-md"
                />
                <div class="transform -translate-y-3">
                  <CodeSnippet
                    title="app/layout.tsx"
                    id="home/next-steps/setup"
                    class="w-full max-w-lg"
                    numbered
                  />
                </div>
              </div>
            </Step>
            <!-- Play -->
            <Step>
              <CodeSnippet
                class="max-w-xl"
                title="app/watch/page.tsx"
                id="home/next-steps/play"
                numbered
              />
            </Step>
            <!-- Analyze -->
            <Step>
              <CodeSnippet
                class="max-w-xl"
                title="app/watch/page.tsx"
                id="home/next-steps/analyze"
                numbered
              />
            </Step>
          </div>
        </Steps>
      </div>
    </FeatureSection>
  </Style>

  <Style
    style="--from-color: oklch(0.25 0 0); --to-color: oklch(0.4 0 0);"
    darkStyle="--from-color: oklch(1 0 0); --to-color: oklch(0.7 0 0);"
    client:load
  >
    <FeatureSection title="Git." subtitle="Built to commit." align="center">
      <GitHubIcon class="dark:text-black" width="100%" height="100%" slot="icon" />

      <p slot="description">
        Manage your media files right in your repository and when you're ready just push. Our Git
        integration will handle the rest for you.
      </p>

      <JoinWaitlist gradient slot="cta" client:load />

      <div class="w-full flex flex-col items-center justify-center" slot="content">
        <div class="w-full max-w-3xl mx-auto">
          <GitTerminalProcess client:visible />
        </div>

        <div class="w-px h-28 border border-dashed border-border my-8"></div>

        <div class="w-full max-w-3xl mx-auto animate-[levitate_16s_ease_infinite]">
          <GitHubComment>
            <GitHubCommentTable
              rows={[
                { name: 'Installation', status: '✅ Uploaded' },
                { name: 'Thinking in React', status: '✅ Encoded' },
              ]}
            />
          </GitHubComment>
        </div>
      </div>
    </FeatureSection>
  </Style>

  <Style
    style="--from-color: oklch(0.67 0.19 53.25); --to-color: oklch(0.76 0.17 65.51);"
    client:load
  >
    <FeatureSection title="Connect." subtitle="Built to integrate." align="start">
      <NetworkIcon width="100%" height="100%" slot="icon" />

      <p slot="description">
        We focus on optimizing your frontend media workflow using your existing services. Bring your
        own storage, streaming, and analytics services.
      </p>

      <JoinWaitlist gradient slot="cta" client:load />

      <div class="w-full flex items-center justify-center" slot="content">...</div>
    </FeatureSection>
  </Style>

  <Style style="--from-color: oklch(0.66 0.23 153.66); --to-color: oklch(0.66 0.15 203.58);">
    <FeatureSection title="Open Source." subtitle="Built transparently." align="center">
      <BookOpenIcon width="100%" height="100%" slot="icon" />

      <p slot="description">
        Our entire journey is rooted in open-source and you can find all of our work on GitHub. If
        you like what we're doing, remember to follow and give us a star!
      </p>

      <Button arrow href="https://github.com/vidstack" gradient target="_blank" slot="cta">
        Follow on GitHub
      </Button>

      <GridContent label="Open-Source Projects" content={openSourceProjects} slot="content" />
    </FeatureSection>
  </Style>

  <Style style="--from-color: oklch(0.44 0.24 300.79); --to-color: oklch(0.54 0.27 325.91);">
    <FeatureSection title="Community." subtitle="Built for us." align="center">
      <HeartHandshakeIcon width="100%" height="100%" slot="icon" />

      <p slot="description">
        We're a community of frontend devs working with video & audio. Join in on the discussions,
        share your designs and knowledge, ask for help, and connect with others building awesome
        experiences.
      </p>

      <div class="flex items-center" slot="cta">
        <SocialLink class="mr-4 768:mr-8" type="twitter" iconSize={40} />
        <SocialLink class="mr-4 768:mr-8" type="discord" iconSize={40} />
        <SocialLink type="gitHub" iconSize={40} />
      </div>
    </FeatureSection>
  </Style>
</DefaultLayout>
