---
import ConstructionIcon from '~astro-icons/lucide/construction';

import DefaultLayout from '../layouts/default-layout.astro';

const title = 'Vidstack: Media Icons';
const description =
  'A beautifully hand-crafted collection of icons specifically designed for media interfaces.';
---

<DefaultLayout {title} {description} announcementBar>
  <div class="flex flex-col flex-1 items-center justify-center h-[var(--content-height)] px-4">
    <ConstructionIcon
      class="w-40 h-40 1200:w-64 1200:h-64 text-inverse/50 -mt-[var(--top-bar-height)]"
    />

    <h1 class="text-inverse text-center mt-4 flex flex-col items-center font-semibold 1200:text-xl">
      This page is still under construction and coming soon!
    </h1>
  </div>
</DefaultLayout>
