---
import clsx from 'clsx';

import IconsGrid from '../components/pages/icons/icons-grid.astro';
import IconsLibrarySelect from '../components/pages/icons/icons-library-select.svelte';
import IconsSearch from '../components/pages/icons/icons-search.svelte';
import AnimatedGithubIcon from '../icons/animated/animated-github-icon.svelte';
import FigmaLogo from '../icons/logos/figma-logo.svelte';
import DefaultLayout from '../layouts/default-layout.astro';

const title = 'Vidstack: Media Icons',
  description =
    'A beautifully hand-crafted collection of icons specifically designed for video/audio players.';
---

<DefaultLayout {title} {description}>
  <section class="mt-10 768:mt-24 text-center w-full px-4">
    <h1
      class={clsx(
        '992:mt-6 768:text-5xl 768:leading-[3.5rem] 768:max-w-3xl mx-auto 992:text-6xl 992:leading-[4.5rem]',
        '992:max-w-5xl mt-8 text-center text-4xl font-extrabold leading-[3rem]',
      )}
    >
      A bold, consistent, and clean collection of media icons.
    </h1>
    <p class="text-soft text-base 992:text-lg mx-auto mt-8 max-w-3xl text-center leading-relaxed">
      Media Icons is an open-source and beautifully hand-crafted collection of icons, designed by
      the Vidstack team specifically for building audio and video players. All of the icons are free
      for both personal and commercial use.
    </p>
    <div class="flex flex-row items-center justify-center w-full mt-8 text-soft">
      <a
        class="flex items-center hover:underline hover:text-brand"
        href="https://www.figma.com/@vidstack"
        target="_blank"
        rel="noreferrer"
      >
        <FigmaLogo class="w-7 h-7 mr-px" />
         Get Figma File
      </a>
      <a
        class="flex items-center hover:underline ml-6 hover:text-brand"
        href="https://github.com/vidstack/media-icons"
        target="_blank"
        rel="noreferrer"
      >
        <AnimatedGithubIcon class="w-5 h-5 text-inverse mr-1" client:idle />
         Documentation
      </a>
    </div>
  </section>

  <div class="mb-24 px-4 768:px-8 max-w-[1440px] mx-auto">
    <section
      class="mt-12 px-2 mb-16 992:mb-20 flex items-center justify-center max-w-xl mx-auto"
      aria-label="Search"
    >
      <div class="mr-5 mt-1">
        <IconsLibrarySelect client:load />
      </div>
      <IconsSearch client:load />
    </section>

    <IconsGrid label="Icons Collection" compact />
  </div>
</DefaultLayout>
