---
import clsx from 'clsx';

import InfoIcon from '~astro-icons/lucide/info';

import type { Placement } from '@floating-ui/dom';

import Menu from './menu.svelte';

interface Props {
  label: string;
  class?: string;
  center?: boolean;
  contain?: boolean;
  placement?: Placement;
}

const { label, class: _class, center, contain, placement = 'top' } = Astro.props;
---

<Menu class={clsx('rounded-full', _class)} {placement} type="dialog" client:visible>
  <Fragment slot="trigger">
    <InfoIcon class="w-[14px] h-[14px] hover:text-inverse" />
    <span class="sr-only">{label}</span>
  </Fragment>

  <div
    class={clsx(
      'max-h-[300px] leading-5 whitespace-normal text-soft text-[13px] content',
      'overflow-auto scrollbar font-normal not-prose',
      contain ? 'max-w-[46ch]' : 'max-w-[88ch]',
      center ? 'text-center' : 'text-left',
    )}
    slot="content"
  >
    <slot />
  </div>
</Menu>

<style>
  div :global(p) {
    margin: 12px 0;
    font-weight: 400;
  }

  div :global(p:last-child) {
    margin-top: 12px;
    margin-bottom: 0;
  }

  div :global(p:only-child) {
    margin: 4px 0;
  }

  div :global(p + ul) {
    margin-top: -4px;
  }

  div :global(ul),
  div :global(ol) {
    margin: 8px 0;
    padding-left: 16px;
    list-style: disc;
  }

  div :global(li) {
    padding: 0;
  }

  div :global(code) {
    color: rgb(var(--color-brand));
    font-weight: 500;
    font-size: 0.9em !important;
    padding: 0 !important;
  }

  div :global(pre) {
    overflow: visible !important;
  }

  div :global(a) {
    border: 0;
    font-weight: 500;
    text-decoration: underline;
  }

  div :global(:where(a:hover, a:focus-visible)) {
    color: rgb(var(--color-inverse));
  }
</style>
