---
import clsx from 'clsx';

import SearchIcon from '~astro-icons/lucide/search';
---

<div
  class={clsx(
    'group relative overflow-hidden w-10 h-9 nav-lg:w-full nav-lg:h-10',
    'max-w-md flex items-center justify-center nav-lg:text-soft focus-within:text-inverse',
    'hover:cursor-pointer hover:text-inverse',
  )}
>
  <div
    class={clsx(
      'nav-lg:hidden px-1.5 py-1 rounded-md border border-transparent',
      'group-focus-within:border-brand/90 group-focus-within:border-2',
      'group-focus-within:bg-elevate group-focus-within:shadow-sm',
      'group-hover:border-border/90 group-hover:shadow-sm group-hover:bg-elevate',
    )}
  >
    <SearchIcon class="w-6 h-6" />
  </div>

  <div
    class={clsx(
      'absolute top-0 left-0 flex w-full h-full pointer-events-none py-2 px-3',
      'w-full h-full items-center text-[15px] z-10 rounded-md border border-border/90',
      'group-focus-within:border-brand/90 group-hover:border-brand/90 hidden nav-lg:flex',
    )}
  >
    <SearchIcon class="w-4 h-4 mr-2" />
    <span class="text-sm font-normal hidden nav-lg:inline-block" aria-hidden="true">Search</span>

    <span
      class={clsx(
        'border-border/90 -mr-0.5 items-center',
        'justify-center rounded-sm border px-1.5 py-0.5 font-mono text-xs font-bold',
        'hidden nav-lg:flex ml-auto',
      )}
    >
      <span
        class="top-0 m-0 flex h-auto w-auto justify-center space-x-0.5 bg-none p-0 font-medium mr-px text-[17px]"
      >
        ⌘
      </span>
      <span
        class="top-0 m-0 flex h-auto w-auto justify-center space-x-0.5 bg-none p-0 font-medium text-[12px]"
      >
        K
      </span>
    </span>
  </div>

  <div class="absolute top-0 left-0 w-full h-full z-0 opacity-0">
    <slot />
  </div>
</div>
