.docs .category {
  @apply mt-0;
}

.docs .category + h1 {
  @apply -mt-7;
}

.DocSearch-Button-Key {
  @apply !ring-0;
}

.api-table tbody tr td:first-child > code,
.api-table tbody tr td:first-child > div > code {
  background-color: unset;
}

.docs .code-editor {
  margin-block: 3.5rem;
}

#main-sidebar > div,
#table-of-contents > ul {
  --scrollbar-thumb-bg: none;
  --scrollbar-track-bg: none;
}

#main-sidebar:hover > div,
#table-of-contents:hover > ul {
  --scrollbar-thumb-bg: rgb(var(--color-border));
}

#main-sidebar .categories + a {
  margin-top: 1.5rem;
}
