:root {
  --docsearch-primary-color: rgb(var(--color-brand));
  --docsearch-highlight-color: rgb(var(--color-brand));
  --docsearch-text-color: rgb(var(--color-soft));
  --docsearch-searchbox-shadow: none;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-key-gradient: transparent;
  --docsearch-key-shadow: none;
  --docsearch-modal-background: #fafafa;
  --docsearch-footer-background: #ededed;
  --docsearch-muted-color: rgb(var(--color-soft));
  --docsearch-logo-color: rgb(var(--color-soft));
  --docsearch-hit-color: rgb(var(--color-soft));
  --docsearch-hit-background: rgb(var(--color-elevate));
  --docsearch-hit-shadow: none;
  --docsearch-hit-active-color: rgb(var(--color-inverse));
}

:root.dark {
  --docsearch-modal-shadow: none;
  --docsearch-footer-shadow: none;
  --docsearch-hit-color: rgb(var(--color-soft));
  --docsearch-modal-background: rgb(var(--color-body));
  --docsearch-footer-background: rgb(var(--color-body));
  --docsearch-muted-color: rgb(var(--color-soft));
  --docsearch-logo-color: rgb(var(--color-soft));
}

.DocSearch-Button {
  @apply !m-0 !h-full !w-full !rounded-none !p-0;
}

.DocSearch-Logo path,
.DocSearch-Logo rect {
  color: rgb(var(--color-soft)) !important;
  fill: rgb(var(--color-soft)) !important;
}

.DocSearch-Input {
  @apply ml-1 mr-2 p-0 pl-0 text-black;
}

.DocSearch-Form:focus-within {
  @apply outline-none !ring-2;
  --tw-ring-color: rgb(var(--color-brand) / 0.9);
}

.DocSearch-Input:focus,
.DocSearch-Input:focus-visible {
  @apply text-inverse;
  box-shadow: none;
}

.js-focus-visible .DocSearch-Input[data-focus-visible-added]:not([data-focus]) {
  @apply ring-0;
}

.DocSearch-Hit {
  @apply p-2;
}

.DocSearch-Hit-title {
  @apply order-2;
}

.DocSearch-Hit-path {
  @apply order-1 mb-1 self-start text-xs;
}

.DocSearch-Hit-Tree {
  /* @apply !hidden; */
}

.DocSearch-Hit--Child {
  @apply pl-5;
}

.DocSearch-Hit-icon {
  @apply text-soft bg-brand/20 mr-1 flex h-10 w-10 items-center justify-center rounded-md;
}

.DocSearch-Hit-source {
  @apply px-1 pb-1 pt-3 text-[1rem];
}

.DocSearch-Hit-source {
  @apply text-inverse !py-2.5 !text-lg font-semibold;
}

.DocSearch-Hit[aria-selected='true'] a {
  color: var(--docsearch-text-color);
  background: var(--docsearch-hit-background);
}

.DocSearch-Hit[aria-selected='true'] mark {
  color: var(--docsearch-highlight-color) !important;
}

:root.dark .DocSearch-Input {
  @apply text-white;
}

.DocSearch-Cancel {
  @apply hidden;
}

.DocSearch-Screen-Icon {
  @apply flex items-center justify-center pb-6;
}

.DocSearch-NoResults-Prefill-List {
  @apply pb-6;
}

.DocSearch-Form:focus-within .DocSearch-MagnifierLabel {
  color: rgb(var(--color-brand));
}

.DocSearch-MagnifierLabel {
  color: var(--docsearch-text-color);
  margin-right: 4px;
}

.DocSearch-MagnifierLabel > svg {
  width: 22px;
  height: 22px;
}

.DocSearch-SearchBar {
  margin-bottom: 8px;
}

@media screen and (max-width: 750px) {
  .DocSearch-Modal {
    @apply left-0 right-0 top-4 mx-auto max-h-[75vh] max-w-[90vw] !overflow-hidden;
    --docsearch-vh: 0.75vh !important;
  }
}
