vds-media {
  width: 100%;
}

.media-times {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 4px;
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.media-times > code {
  display: flex;
  align-items: center;
}

.media-times > code:not(:first-child) {
  margin-top: 8px;
}

/**
 * -----------------------------------------------------------
 * Gestures
 * -----------------------------------------------------------
 */

vds-gesture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
