---
import AreaChartIcon from '~astro-icons/lucide/area-chart';
import ArrowDownUpIcon from '~astro-icons/lucide/arrow-down-up';
import BookOpenIcon from '~astro-icons/lucide/book-open';
import FileVideoIcon from '~astro-icons/lucide/file-video-2';
import GlobeIcon from '~astro-icons/lucide/globe';
import HelpCircleIcon from '~astro-icons/lucide/help-circle';
import KeyIcon from '~astro-icons/lucide/key-round';
import MoreHorizontalIcon from '~astro-icons/lucide/more-horizontal';
import SettingsIcon from '~astro-icons/lucide/settings';
import clsx from 'clsx';
import VidstackSymbol from '../../../icons/brand/vidstack-symbol.svelte';

const sidebar = [
  { title: 'Media', Icon: FileVideoIcon, active: true },
  { title: 'Analytics', Icon: AreaChartIcon },
  { title: 'Domains', Icon: GlobeIcon },
  { title: 'API Keys', Icon: KeyIcon },
  { title: 'Webhooks', Icon: ArrowDownUpIcon },
  { title: 'Settings', Icon: SettingsIcon },
];
---

<div
  class="flex flex-col flex-1 max-w-[48px] @xl:max-w-[132px] items-start h-full border-r border-border px-2 py-2.5 pb-4"
>
  <VidstackSymbol class="dark:-ml-0.5 mb-4" size={24} />
  {
    sidebar.map(({ title, Icon, active }) => {
      return (
        <div
          class={clsx(
            'flex mt-1.5 items-center px-1.5 py-1.5 rounded-sm w-full',
            active ? 'bg-inverse/10 text-inverse' : 'text-soft',
          )}
        >
          <Icon class="w-5 h-5 @xl:w-4 @xl:h-4" />
          <span class="hidden @xl:inline-block text-xs ml-1.5">{title}</span>
        </div>
      );
    })
  }

  <div class="flex-1"></div>

  <div class="flex flex-col space-y-2.5 mb-4 w-full items-center @xl:items-start ml-0.5 @xl:px-0">
    <div class="flex items-center text-soft text-[10px]">
      <BookOpenIcon class="w-5 h-5 @xl:w-3 @xl:h-3 mr-1" />
      <span class="hidden @xl:inline-block">Docs</span>
    </div>
    <div class="flex items-center text-soft text-[10px]">
      <HelpCircleIcon class="w-5 h-5 @xl:w-3 @xl:h-3 mr-1" />
      <span class="hidden @xl:inline-block">Support</span>
    </div>
  </div>

  <div class="flex items-center justify-center w-full">
    <img
      class="w-6 h-6 rounded-full"
      src="https://api.dicebear.com/6.x/thumbs/svg?seed=Charlie"
      decoding="async"
      loading="lazy"
      aria-hidden="true"
    />
    <div class="flex-col ml-1 hidden @xl:flex items-center @xl:items-start w-full">
      <span class="text-inverse text-[10px]">Charlie's Site</span>
      <span class="text-soft text-[9px] -mt-0.5">react-casts.gg</span>
    </div>
    <MoreHorizontalIcon class="w-6 h-6 ml-2 hidden @xl:flex" />
  </div>
</div>
