.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  appearance: none;
  padding: 10px;
  border-radius: 2px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button[data-open] {
  position: sticky;
  top: calc(-1 * 10px);
  left: 0;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(4px);
  border-radius: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid rgb(245 245 245 /0.15);
  background-color: rgb(10 10 10 / 0.6);
}

.button[data-focus] {
  background-color: rgb(245 245 245 / 0.08);
}

.button[aria-disabled='true'],
.button[aria-hidden='true'] {
  display: none;
}

.button[data-open] .closeIcon {
  display: inline-block;
}

.button[data-open] .icon {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    cursor: pointer;
    background-color: rgb(245 245 245 / 0.08);
  }
}

.button:not([data-open]) .label {
  margin-left: 6px;
}

.closeIcon {
  margin-right: 2px;
}

.openIcon,
.closeIcon {
  width: 18px;
  height: 18px;
  display: none;
}

.hintText,
.openIcon {
  margin-left: auto;
  color: rgb(245 245 245 / 0.5);
  font-size: 14px;
}

.hintText:not(:empty) + .openIcon {
  margin-left: 2px;
}

.button:not([data-open]) .openIcon {
  display: inline-block;
}

.icon {
  display: contents;
}
