vds-fullscreen-button {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

vds-fullscreen-button > svg {
  /** `absolute` so icons are placed on top of each other. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity ease 150ms;
}

vds-media[fullscreen] .media-enter-fs-icon {
  opacity: 0;
}

vds-media:not([fullscreen]) .media-exit-fs-icon {
  opacity: 0;
}
