/*************************************************************************************************
 * Buttons
 *************************************************************************************************/

/* Easy way to hide all buttons that are not supported in current env (e.g. fullscreen/pip). */
.media-button[aria-hidden='true'] {
  display: none;
}

.media-button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 8px;
  margin-right: 2.5px;
  cursor: pointer;
  /* Resets. */
  padding: 0;
  user-select: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  touch-action: manipulation;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.media-button > media-icon,
.media-button > svg {
  width: 80%;
  height: 80%;
  border-radius: 2px;
}

.media-button[data-focus] > media-icon,
.media-button[data-focus] > svg {
  box-shadow: var(--media-focus-ring);
}

@media (hover: hover) and (pointer: fine) {
  .media-button:hover {
    background-color: rgb(255 255 255 / 0.2);
  }
}

media-mute-button {
  margin-left: -2.5px;
  margin-right: -5px !important;
}

media-fullscreen-button {
  margin-right: 0 !important;
}

media-play-button:not([data-paused]) .media-play-icon,
media-play-button[data-ended] .media-play-icon,
media-play-button[data-paused] .media-pause-icon,
media-play-button[data-ended] .media-pause-icon,
media-play-button:not([data-ended]) .media-replay-icon {
  display: none;
}

media-pip-button[data-active] .media-pip-enter-icon,
media-pip-button:not([data-active]) .media-pip-exit-icon {
  display: none;
}

media-fullscreen-button[data-active] .media-fs-enter-icon,
media-fullscreen-button:not([data-active]) .media-fs-exit-icon {
  display: none;
}

media-caption-button:not([data-active]) .media-cc-on-icon,
media-caption-button[data-active] .media-cc-off-icon {
  display: none;
}

media-mute-button:not([data-muted]) .media-mute-icon,
media-mute-button:not([data-state='low']) .media-volume-low-icon,
media-mute-button:not([data-state='high']) .media-volume-high-icon {
  display: none;
}
