/*************************************************************************************************
 * Chapter Title
 *************************************************************************************************/

media-chapter-title {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255 255 255 / 0.64);
  flex: 1 1 0%;
  padding-inline: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

media-chapter-title::before {
  content: '\2022';
  display: inline-block;
  margin-right: 6px;
  color: rgba(255 255 255 / 0.64);
}

media-chapter-title:empty::before {
  content: '';
  margin-left: 0;
}
