/*************************************************************************************************
 * Gestures
 *************************************************************************************************/

media-gesture {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

media-gesture[action='seek:-10'],
media-gesture[action='seek:10'] {
  width: 20%;
  z-index: 1;
}

media-gesture[action='seek:10'] {
  left: unset;
  right: 0;
}

/* Remove toggle to pause on touch. */
@media (pointer: coarse) {
  media-gesture[action='toggle:paused'] {
    display: none;
  }
}

/* Remove toggle controls on mouse. */
@media not (pointer: coarse) {
  media-gesture[action='toggle:controls'] {
    display: none;
  }
}
