/*************************************************************************************************
 * Tooltips
 *************************************************************************************************/

.media-tooltip {
  display: inline-block;
  color: hsl(0, 0%, 80%);
  background-color: black;
  font-size: 13px;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  z-index: 10;
  border-radius: 2px;
  padding: 2px 8px;
  will-change: transform, opacity;
}

.media-tooltip {
  --enter-transform: translateY(0px) scale(1);
  --exit-transform: translateY(12px) scale(0.8);
}

.media-tooltip[data-visible] {
  animation: media-tooltip-enter 0.2s ease-in;
  animation-fill-mode: forwards;
}

.media-tooltip:not([data-visible]) {
  animation: media-tooltip-exit 0.2s ease-out;
}

/* Bottom */
.media-tooltip[data-placement~='bottom'] {
  --enter-transform: translateY(0) scale(1);
  --exit-transform: translateY(-12px) scale(0.8);
}

@keyframes media-tooltip-enter {
  from {
    opacity: 0;
    transform: var(--exit-transform);
  }
  to {
    opacity: 1;
    transform: var(--enter-transform);
  }
}

@keyframes media-tooltip-exit {
  from {
    opacity: 1;
    transform: var(--enter-transform);
  }
  to {
    opacity: 0;
    transform: var(--exit-transform);
  }
}

media-player:not([data-paused]) .media-play-tooltip-text,
media-player[data-paused] .media-pause-tooltip-text {
  display: none;
}

media-player[data-pip] .media-pip-enter-tooltip-text,
media-player:not([data-pip]) .media-pip-exit-tooltip-text {
  display: none;
}

media-player[data-fullscreen] .media-fs-enter-tooltip-text,
media-player:not([data-fullscreen]) .media-fs-exit-tooltip-text {
  display: none;
}

media-player:not([data-captions]) .media-cc-on-tooltip-text,
media-player[data-captions] .media-cc-off-tooltip-text {
  display: none;
}

media-player:not([data-muted]) .media-mute-tooltip-text,
media-player[data-muted] .media-unmute-tooltip-text {
  display: none;
}
