.controls {
  /* These CSS variables are supported out of the box to easily apply offsets to all tooltips/menus.  */
  --media-tooltip-y-offset: 30px;
  --media-menu-y-offset: 30px;
}

.controls :global(.volume-slider) {
  --media-slider-preview-offset: 30px;
  margin-left: 1.5px;
}
