media-player {
  width: 100%;
  max-width: 320px;
  min-width: 320px;
  z-index: 0;
}

.media-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 2px 4px;
}

.media-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(0 0 0 / 0.5);
  border-radius: 2px;
}

.media-float-container {
  position: fixed;
  max-width: 200px;
  bottom: 24px;
  right: 24px;
  z-index: 9999;
}
