/* Place UI on top of media provider. */
.media-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Hide UI while media is not ready and controls are not visible. */
media-player:not([data-controls]) .media-ui {
  opacity: 0;
  pointer-events: none;
}
