@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --media-brand: 245 245 245;
  --media-focus: 78 156 246;
}

/*
 * Prevent FOUC - you don't need this if you're loading styles via link tags or server-side
 * rendering with a framework like Nuxt.
 */
*:not(:defined) {
  opacity: 0;
}
