media-play-button:not([data-paused]) .playIcon,
media-play-button[data-ended] .playIcon,
media-play-button[data-paused] .pauseIcon,
media-play-button[data-ended] .pauseIcon,
media-play-button:not([data-ended]) .replayIcon {
  display: none;
}

:global(media-player:not([data-paused])) .playTooltipText,
:global(media-player[data-paused]) .pauseTooltipText {
  display: none;
}
