---
import ArrowRightIcon from '~astro-icons/lucide/arrow-right';
import MegaphoneIcon from '~astro-icons/lucide/megaphone';
import clsx from 'clsx';

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<div
  class={clsx(
    'border-border border-y-[1px] w-full h-[var(--announcement-bar-height)]',
    'text-sm flex items-center justify-center',
  )}
>
  <MegaphoneIcon class="mr-1.5 mb-0.5 w-5 h-5" />

  <span class="mr-1">
    <slot />
  </span>

  <a class="flex items-center text-brand group font-medium" {href}>
    Learn more
    <ArrowRightIcon
      class="-translate-x-2 opacity-0 group-hocus:opacity-100 group-hocus:translate-x-px transition-all w-3.5 h-3.5"
    />
  </a>
</div>
