---
import clsx from 'clsx';

import ArrowRightIcon from '~astro-icons/lucide/arrow-right';
import MegaphoneIcon from '~astro-icons/lucide/megaphone';

interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<div
  class={clsx(
    'border-border/90 border-y-[1px] w-full h-[var(--height)] z-40',
    'text-sm flex items-center justify-center transition-[opacity,height] duration-200',
    'scrolled:opacity-0 scrolled:leading-[0] scrolled:border-none overflow-hidden',
    'fixed top-0 left-0 z-[9999]',
  )}
  style="--height: var(--announcement-bar-height);"
>
  <MegaphoneIcon class="mr-1.5 mb-0.5 w-5 h-5" />

  <span class="mr-1">
    <slot />
  </span>

  <a class="flex items-center text-brand group font-medium p-0.5 rounded-md" {href}>
    Learn more
    <ArrowRightIcon
      class="-translate-x-2 opacity-0 group-hocus:opacity-100 group-hocus:translate-x-px transition-all w-3.5 h-3.5"
    />
  </a>
</div>
