---
import clsx from 'clsx';

import ChevronRightIcon from '~astro-icons/lucide/chevron-right';

interface Props {
  category: string;
  title: string;
}

const { category, title } = Astro.props;
---

<ol
  class={clsx(
    'nav-lg:hidden w-full flex items-center px-4 text-[15px]',
    'border-y border-border/90 whitespace-nowrap',
    'top-[var(--breadcrumb-bar-top)] left-0 fixed h-[var(--breadcrumb-bar-height)]',
  )}
>
  <li class="flex items-center text-soft">
    {category}
    <ChevronRightIcon class="w-4 h-4 mx-1" />
  </li>
  <li class="font-semibold truncate">{title}</li>
</ol>
