---
interface Props {
  title: string;
  links: {
    title: string;
    href: string;
  }[];
}

const { title, links } = Astro.props;
---

<section class="flex flex-col">
  <h1 class="text-base font-semibold">
    {title}
  </h1>
  <ul class="text-soft mt-4 space-y-4">
    {
      links.map((link) => {
        const isExternal = link.href.startsWith('http');
        return (
          <li class="text-soft hover:font-medium font-base hover:underline hover:text-brand">
            <a
              href={link.href}
              target={isExternal ? '_blank' : null}
              rel={isExternal ? 'noreferrer' : null}
            >
              {link.title}
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
