/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * MEDIA
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

vds-media {
  display: inline-block;
  position: relative;
  contain: content;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * PROVIDERS
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

vds-audio {
  display: inline-block;
}

vds-video,
vds-hls-video {
  display: inline-block;
  background-color: var(--vds-video-bg-color, #000);
}

vds-video > video:not([width]),
vds-hls-video > video:not([width]) {
  width: var(--vds-video-width, 100%);
}

vds-video > video:not([height]),
vds-hls-video > video:not([height]) {
  height: var(--vds-video-height, auto);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * BUTTONS
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

vds-play-button,
vds-mute-button,
vds-fullscreen-button {
  display: table;
  contain: content;
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

vds-play-button:focus,
vds-mute-button:focus,
vds-fullscreen-button:focus {
  outline: none;
}

vds-play-button:focus-visible,
vds-mute-button:focus-visible,
vds-fullscreen-button:focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

vds-play-button.focus-visible,
vds-mute-button.focus-visible,
vds-fullscreen-button.focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * SLIDERS
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

vds-time-slider {
  display: block;
  contain: layout;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

vds-time-slider:focus {
  outline: none;
}

vds-time-slider:focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

vds-time-slider.focus-visible {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * TIME
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

vds-time {
  display: inline-block;
  contain: content;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * ASPECT RATIO
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

vds-aspect-ratio {
  --vds-video-width: 100%;
  --vds-video-height: 100%;
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: min(
    max(var(--vds-aspect-ratio-min-height), var(--vds-aspect-ratio-percent)),
    var(--vds-aspect-ratio-max-height)
  );
}

vds-aspect-ratio > * {
  width: 100%;
  height: 100%;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * POSTER
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

vds-poster {
  display: block;
  contain: content;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  box-sizing: border-box;
}

vds-poster img {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  object-position: inherit;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}
