---
import clsx from 'clsx';

import type { SidebarFeatureItem, SidebarItem } from '../../nav/sidebar-items';
import SidebarCategories from './sidebar-categories.astro';
import SidebarItems from './sidebar-items.astro';
import SidebarScroll from './sidebar-scroll.svelte';

interface Props {
  categories?: SidebarFeatureItem[];
  activeCategory?: string;
  items: SidebarItem[];
  activeItem: SidebarItem | null;
}

const { categories, activeCategory, items, activeItem } = Astro.props;
---

<nav
  id="main-sidebar"
  class={clsx(
    'text-sm hidden nav-lg:block flex-none',
    'w-[var(--sidebar-width)] h-[calc(var(--content-height)-26px)]',
    'fixed top-[var(--content-top)] left-[max(0px,calc(50%-45rem))] 1460:ml-4 1480:-ml-0.5',
  )}
>
  <div
    class={clsx(
      'w-full h-full flex flex-col mt-4 992:mt-6 px-6 1460:pl-2 pb-8',
      'scrollbar scroll-contain overflow-auto',
    )}
  >
    {
      categories && activeCategory && (
        <>
          <SidebarCategories {categories} {activeCategory} />
        </>
      )
    }
    <SidebarItems {items} {activeItem} />
  </div>
</nav>

<SidebarScroll client:load />
