---
import clsx from 'clsx';

import AnimatedMenuIcon from '../../../../../icons/animated/animated-menu-icon.svelte';
import { NAV_MOBILE_MAX_WIDTH_QUERY } from '../../../../../stores/media-query';
import type { NavItem } from '../../../../nav/nav-items';
import ColorSchemeSwitch from '../../../color-scheme-switch.svelte';
import NavManager from '../../nav-manager.svelte';
import NavMobileItems from './nav-mobile-items.svelte';

interface Props {
  navItems: NavItem[];
}

const { navItems } = Astro.props;
---

<NavManager client:media={NAV_MOBILE_MAX_WIDTH_QUERY}>
  <button
    type="button"
    class={clsx(
      'group relative flex items-center rounded-md px-1 py-0.5',
      'nav-lg:hidden border border-transparent',
      'hocus:shadow-sm hocus:bg-elevate hocus:border-border/90 transition-colors',
    )}
    aria-label="Open Site Menu"
    data-menu-trigger
  >
    <AnimatedMenuIcon size={28} />
  </button>

  <div
    class={clsx(
      'fixed overflow-y-scroll left-0 w-screen scrollbar transition-[top,height] duration-300',
      'bg-body z-50 top-[var(--content-top)] pt-4 pb-8 nav-lg:hidden',
      'animate-in fade-in h-[var(--content-height)]',
      'aria-hidden:animate-out aria-hidden:fade-out h-0',
    )}
    style="display: none;"
    data-menu
    data-portal
    data-placement="none"
  >
    <slot name="start" />

    <NavMobileItems {navItems} pathname={Astro.url.pathname} />

    <div class="mt-6 px-4 flex items-start">
      <ColorSchemeSwitch client:visible />
    </div>
  </div>
</NavManager>
