.media-controls-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* prevent blocking lower elements (e.g., gestures). */
  pointer-events: none;
  /** place above poster (optional). */
  z-index: 1;
}

.media-controls {
  display: flex;
  width: 100%;
  min-height: 48px;
  opacity: 1;
  padding: 8px;
  transition: opacity 200ms ease;
  /** prevent clicks triggering lower elements. */
  pointer-events: auto;
}

/* Avoid double controls on iOS when in fullscreen. */
vds-media[hide-ui] .media-controls,
/* Hide controls if media is not ready for playback, or user is idle. */
vds-media[user-idle] .media-controls,
vds-media:not([can-play]) .media-controls {
  opacity: 0;
  visibility: hidden;
}
