/* Fill entire background. */
vds-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
}

/* Show poster once it has loaded. */
vds-poster[img-loaded] {
  opacity: 1;
}

/* Hide poster if it fails to load. */
vds-poster[img-error] {
  display: none;
}
