---
import AppLayout, { type Props as AppLayoutProps } from './app-layout.astro';
import { mainNavItems } from './nav/main-nav-items';
import Footer from './parts/footer.astro';
import NavbarDesktop from './parts/navbar/navbar-desktop.astro';
import NavbarMobile from './parts/navbar/navbar-mobile.astro';

interface Props extends AppLayoutProps {}

const { ...appLayoutProps } = Astro.props,
  navItems = mainNavItems,
  announcementBar = Astro.slots.has('announcement');
---

<AppLayout {...appLayoutProps} {announcementBar}>
  <slot name="announcement" />

  <NavbarDesktop {navItems} />
  <NavbarMobile {navItems} />

  <main style="padding-top: var(--content-top);">
    <slot />
  </main>

  <Footer />
</AppLayout>
