@import 'vidstack/player/styles/default/theme.css';

media-player[data-view-type='audio'] {
  --media-brand: #f5f5f5;
  --media-focus-ring-color: #4e9cf6;
  --media-focus-ring: 0 0 0 3px var(--media-focus-ring-color);
  --media-border-radius: 4px;

  --media-tooltip-y-offset: 44px;
  --media-menu-y-offset: 40px;
  --media-slider-chapter-title-color: black;

  width: 100%;
  background-color: #212121;
  border-radius: var(--media-border-radius);
  contain: layout;
}

media-player[data-focus]:not([data-playing]) .vds-controls {
  box-shadow: var(--media-focus-ring);
}

/*************************************************************************************************
 * Controls
 *************************************************************************************************/

media-controls {
  border-radius: var(--media-border-radius);
}

media-controls-group {
  display: flex;
  align-items: center;
  width: 100%;
}

media-controls-group:nth-child(2) {
  padding-inline: 8px;
  padding-bottom: 8px;
}

/*************************************************************************************************
 * Time
 *************************************************************************************************/

.vds-time-group {
  margin-left: 8px;
}

/*************************************************************************************************
 * Time Slider
 *************************************************************************************************/

media-time-slider {
  --media-slider-height: 36px;
  --media-slider-preview-offset: 8px;
}

.vds-slider-chapter-title {
  margin-bottom: 4px;
}

/*************************************************************************************************
 * Volume
 *************************************************************************************************/

media-volume-slider {
  --media-slider-height: 40px;
  --media-slider-preview-offset: 40px;
  width: 72px;
  margin-left: 1.5px;
  margin-right: 8px;
}

/*************************************************************************************************
 * Captions
 *************************************************************************************************/

media-captions {
  --cue-font-size: 14px;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: unset;
  bottom: calc(100% + 2px);
  text-align: center;
  background-color: transparent;
}

media-captions [data-part='cue'] {
  color: white;
  border: rgb(255 255 255 / 0.1);
  background-color: black;
}

/* Hide captions when interacting with time slider. */
media-player[data-preview] media-captions {
  opacity: 0;
}
