vds-media {
  width: 100%;
  max-width: 95%;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

vds-media[can-play] {
  opacity: 1;
}

.media-controls {
  display: flex;
  width: 100%;
  padding: 0 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/**
 * -----------------------------------------------------------
 * Time Slider
 * -----------------------------------------------------------
 */

vds-time-slider {
  --height: 48px;
  --thumb-width: 24px;
  --track-height: 4px;

  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: var(--height);
  /** Prevent thumb flowing out of slider. */
  margin: 0 calc(var(--thumb-width) / 2);
  cursor: pointer;
}

.slider-track {
  background-color: #6366f1;
  width: 100%;
  height: var(--track-height);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 0;
  transform: translateY(-50%);
}

.slider-track.fill {
  background-color: #a5b4fc;
  transform-origin: left center;
  transform: translateY(-50%) scaleX(var(--vds-fill-rate));
  will-change: transform;
  z-index: 1; /** above track. */
}

.slider-thumb-container {
  position: absolute;
  top: 0;
  left: var(--vds-fill-percent);
  width: var(--thumb-width);
  height: 100%;
  transform: translateX(-50%); /** re-center along x-axis. */
  z-index: 2; /** above track fill. */
  will-change: left;
}

vds-time-slider[dragging] .slider-thumb-container {
  left: var(--vds-pointer-percent);
}

.slider-thumb {
  position: absolute;
  top: 50%;
  left: 0;
  width: var(--thumb-width);
  height: var(--thumb-width);
  border-radius: 9999px;
  background-color: #fff;
  transform: translateY(-50%);
}

/**
 * -----------------------------------------------------------
 * Media Preview Container
 * -----------------------------------------------------------
 */

.media-preview-container {
  --width: 156px;
  --width-half: calc(var(--width) / 2);
  --top: calc(-1 * var(--width-half) - 40px);
  --opacity-duration: 200ms;

  /* clamp video to left and right of slider. */
  --left-clamp: max(var(--width-half), var(--vds-pointer-percent));
  --right-clamp: calc(100% - var(--width-half));
  --left: min(var(--left-clamp), var(--right-clamp));

  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  opacity: 0;
  transition: opacity ease-out var(--opacity-duration);
  /* re-position to center. */
  transform: translateX(-50%);
  will-change: left;
  border-radius: 2px;
}

/* show preview while device pointer is inside slider. */
vds-time-slider[pointing] .media-preview-container {
  opacity: 1;
  transition: opacity ease-in var(--opacity-duration);
}

/**
 * -----------------------------------------------------------
 * Slider Video
 * -----------------------------------------------------------
 */

vds-slider-video {
  background-color: #000;
}

/* Temporarily hide video while loading. */
vds-slider-video:not([video-can-play]) {
  opacity: 0 !important;
}

/* Hide video if it fails to load. */
vds-slider-video[video-error] {
  display: none;
}

/**
 * -----------------------------------------------------------
 * Slider Preview Time
 * -----------------------------------------------------------
 */

vds-slider-value-text {
  margin-top: 8px;
  font-size: 12px;
  padding: 0 8px;
  color: hsl(0, 0%, 70%);
  background-color: black;
}

/**
 * -----------------------------------------------------------
 * Gestures
 * -----------------------------------------------------------
 */

vds-gesture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
