/*************************************************************************************************
 * Buttons
 *
 * Using global styles for buttons so we don't have to repeat ourselves for each one.
 *************************************************************************************************/

/* Easy way to hide all buttons that are not supported in current env (e.g. fullscreen/pip). */
.media-button[aria-hidden='true'] {
  display: none;
}

.media-button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  /* Resets. */
  padding: 0;
  user-select: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  touch-action: manipulation;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.media-button > media-icon,
.media-button > svg {
  width: 80%;
  height: 80%;
  border-radius: 2px;
}

.media-button[data-focus] > media-icon,
.media-button[data-focus] > svg {
  box-shadow: var(--media-focus-ring);
}

@media (hover: hover) and (pointer: fine) {
  .media-button:hover {
    background-color: rgb(255 255 255 / 0.2);
  }
}
