---
import PlayIcon from '~astro-icons/lucide/play';
import clsx from 'clsx';
import ReactIcon from '../../icons/react-icon.svelte';

interface Props {
  index: number;
  duration: string;
}

const { index, duration } = Astro.props;
---

<div
  class="relative w-full rounded-sm aspect-video overflow-hidden border border-border bg-inverse/10"
>
  <img
    class="w-full -translate-y-1/3 group-data-[ready]:opacity-100 opacity-0 transition-opacity duration-300"
    src={`https://api.dicebear.com/6.x/thumbs/svg?seed=${index * 15}&size=175&scale=60`}
    decoding="async"
    loading="lazy"
    aria-hidden="true"
  />

  <div class="group-data-[ready]:opacity-100 opacity-0 transition-opacity duration-300 z-10">
    <div
      class={clsx(
        'bg-black/30 p-2 rounded-full flex items-center justify-center',
        'absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 z-10',
      )}
    >
      <PlayIcon class="w-5 h-5 translate-x-0.5 translate-y-px text-white" />
    </div>

    <div
      class="bg-black/50 font-mono text-[10px] text-white absolute bottom-1 right-1 z-10 px-1 py-px rounded-sm"
    >
      {duration}
    </div>

    <ReactIcon class="absolute top-2 right-2 w-5 h-5 z-10 text-white" />
  </div>
</div>
