/*************************************************************************************************
 * Controls
 *************************************************************************************************/

.controls {
  border-radius: var(--media-border-radius);
}

:global(.media-player[data-focus]:not([data-playing])) .controls {
  box-shadow: var(--media-focus-ring);
}

.controls :global(.vds-time-slider) {
  --media-slider-height: 36px;
  --media-slider-preview-offset: 8px;
}

.controls :global(.vds-volume-slider) {
  --media-slider-width: 72px;
  --media-slider-height: 40px;
  --media-slider-preview-offset: 40px;
  margin-left: 1.5px;
  margin-right: 8px;
}

.controls :global(.vds-time-group) {
  margin-left: 8px;
}

.controlsGroup {
  display: flex;
  align-items: center;
  width: 100%;
}

.controlsGroup:nth-child(2) {
  padding-inline: 8px;
  padding-bottom: 8px;
}

/*************************************************************************************************
 * Captions
 *************************************************************************************************/

.captions {
  --cue-font-size: 14px;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: unset;
  bottom: calc(100% + 2px);
  text-align: center;
  background-color: transparent;
}

.captions [data-part='cue'] {
  color: white;
  border: rgb(255 255 255 / 0.1);
  background-color: black;
}

/* Hide captions when interacting with time slider. */
:global(.media-player[data-preview]) .captions {
  opacity: 0;
}
