---
import clsx from 'clsx';
import { NAV_MOBILE_MAX_WIDTH_QUERY } from '../../../stores/media-query';
import Logo from '../logo.astro';
import SocialLink from '../social-link.astro';
import NavMobilePopover from './menus/mobile/nav-mobile-popover.svelte';

interface Props {
  announcementBar?: boolean;
}

const { announcementBar = false } = Astro.props;
---

<div
  class={clsx(
    'nav-lg:hidden px-4 py-4 fixed left-0 blur-bg',
    'mx-auto h-[var(--navbar-height)] w-full',
    'flex-col items-center justify-center z-40 transition-[top] duration-300',
    announcementBar ? 'top-[var(--announcement-bar-height)] scrolled:top-0' : 'top-0',
  )}
>
  <div class="flex w-full items-center">
    <a class="mr-12 rounded-md" href="/" aria-label="Go Home">
      <Logo />
    </a>

    <div class="flex-1"></div>

    <div class="flex items-center">
      <SocialLink class="mr-1" type="twitter" />
      <SocialLink class="mr-1" type="gitHub" />
      <NavMobilePopover {announcementBar} client:media={NAV_MOBILE_MAX_WIDTH_QUERY} />
    </div>
  </div>
</div>
