---
import clsx from 'clsx';
import { NAV_DESKTOP_MIN_WIDTH_QUERY } from '../../../stores/media-query';
import ColorSchemeMenu from '../color-scheme-menu.svelte';
import Logo from '../logo.astro';
import SocialLink from '../social-link.astro';
import NavDesktopItems from './menus/desktop/nav-desktop-items.svelte';

interface Props {
  announcementBar?: boolean;
}

const { announcementBar = false } = Astro.props;
---

<div
  class={clsx(
    'hidden nav-lg:flex px-4 768:px-6 fixed left-0 blur-bg',
    'mx-auto h-[var(--navbar-height)] w-full',
    'flex-col items-center justify-center z-40 transition-[top] duration-300',
    announcementBar ? 'top-[var(--announcement-bar-height)] scrolled:top-0' : 'top-0',
  )}
>
  <div class="flex w-full items-center mx-auto max-w-[var(--content-max-width)]">
    <a class="mr-12 rounded-md" href="/" aria-label="Go Home">
      <Logo />
    </a>

    <NavDesktopItems client:media={NAV_DESKTOP_MIN_WIDTH_QUERY} />

    <div class="flex-1"></div>

    <div class="flex items-center">
      <SocialLink class="mr-1" type="twitter" />
      <SocialLink class="mr-1" type="gitHub" />
      <ColorSchemeMenu client:media={NAV_DESKTOP_MIN_WIDTH_QUERY} />
    </div>
  </div>
</div>
