---
import clsx from 'clsx';

import VidstackSymbol from '../../../icons/logos/vidstack-symbol.svelte';
import type { NavItem } from '../../nav/nav-items';
import SocialLink from '../social-link.astro';
import NavMobilePopover from './menus/mobile/nav-mobile-popover.astro';

interface Props {
  noSocials?: boolean;
  navItems?: NavItem[];
}

const { noSocials = false, navItems = [] } = Astro.props;
---

<div
  class={clsx(
    'nav-lg:hidden px-4 768:px-6 py-4 fixed left-0 blur-bg',
    'mx-auto h-[var(--navbar-height)] mt-[var(--navbar-top)] w-full',
    'flex-col items-center justify-center z-40 transition-[top] duration-300',
    'transition-[margin-top] duration-200',
  )}
>
  <div class="flex w-full items-center">
    <div class="flex items-center">
      <a class="rounded-md" href="/" aria-label="Go Home">
        <VidstackSymbol class="h-[32px] hover:scale-110 transition-transform" />
      </a>

      <slot name="start" />
    </div>

    <div class="flex items-center flex-1">
      <slot name="center" />
    </div>

    <div class="flex items-center">
      <slot name="end" />

      {
        !noSocials && (
          <Fragment>
            <SocialLink class="mr-1" type="twitter" />
            <SocialLink class="mr-1" type="gitHub" />
          </Fragment>
        )
      }

      <NavMobilePopover {navItems}>
        <slot name="popover-start" slot="start" />
      </NavMobilePopover>
    </div>
  </div>
</div>
