---
import clsx from 'clsx';

import ActivitySquareIcon from '~astro-icons/lucide/activity-square';
import ArchiveIcon from '~astro-icons/lucide/archive';
import CalendarIcon from '~astro-icons/lucide/calendar-days';
import ChevronDownIcon from '~astro-icons/lucide/chevron-down';
import FilterIcon from '~astro-icons/lucide/filter';
import GridIcon from '~astro-icons/lucide/layout-grid';
import ListIcon from '~astro-icons/lucide/list';
import PlusIcon from '~astro-icons/lucide/plus';
import SearchIcon from '~astro-icons/lucide/search';
import SettingsTwoIcon from '~astro-icons/lucide/settings-2';
import XIcon from '~astro-icons/lucide/x';

import ReactIcon from '../../../icons/logos/react-logo.svelte';
import Menu from '../../menu.svelte';

const filterMenuItems = [
  { title: 'Progress', Icon: ActivitySquareIcon },
  { title: 'Uploaded Date', Icon: CalendarIcon },
  { title: 'Archived Videos', Icon: ArchiveIcon },
  { title: 'Advanced Filter', Icon: FilterIcon },
];
---

<div class="flex items-center w-full">
  <div
    class={clsx(
      'items-center px-1.5 py-0.5 text-inverse border border-inverse/10',
      'bg-inverse/10 text-[10px] rounded-sm mr-2 shadow-sm hidden @sm:flex',
    )}
  >
    <ReactIcon class="w-2.5 h-2.5 mr-1" />
     React Course
    <XIcon class="w-2.5 h-2.5 ml-0.5" />
  </div>
  <Menu
    class={clsx(
      'border-dashed border border-border/90 pl-1 pr-1.5 py-px font-medium',
      'text-inverse text-[10px] flex items-center rounded-sm shadow-sm',
      'hocus:text-brand hocus:border-brand cursor-pointer relative',
    )}
    placement="bottom-end"
    client:visible
  >
    <Fragment slot="trigger">
      <PlusIcon class="w-2.5 h-2.5 mr-0.5" />
       Filter
    </Fragment>
    <Fragment slot="content">
      <div class="flex flex-col min-w-[80px]">
        <div class="text-soft flex flex-row items-center">
          <span class="text-[10px]">Filter...</span>
          <div class="flex-1"></div>
          <div class="bg-inverse/10 font-mono text-[9px] px-1.5">F</div>
        </div>
        <div class="flex flex-col space-y-2.5 mt-3">
          {
            filterMenuItems.map(({ title, Icon }) => (
              <div class="w-full text-[10px] text-soft font-normal flex items-center">
                <Icon class="w-3 h-3 mr-1.5" />
                {title}
              </div>
            ))
          }
        </div>
      </div>
    </Fragment>
  </Menu>

  <div class="@2xl:hidden flex-1 flex justify-end">
    <SearchIcon class="w-4 h-4 mr-3 text-soft" />
  </div>

  <div class="flex-1 hidden @2xl:inline-block">
    <div
      class={clsx(
        'w-full max-w-[200px] mx-auto border border-border/90 text-[10px] rounded-sm',
        'shadow-sm text-soft px-2 py-1 flex items-center',
      )}
    >
      <SearchIcon class="w-2.5 h-2.5 mr-1" />
       Search
      <div class="flex-1"></div>
      <div class="font-mono flex items-center">
        <span class="text-xs">⌘</span>
        <span class="ml-0.5 text-[9px]">K</span>
      </div>
    </div>
  </div>

  <div
    class={clsx(
      'flex items-center justify-center bg-inverse/10 rounded-sm overflow-hidden mr-2',
      'shadow-sm border border-inverse/10',
    )}
  >
    <div class="px-1 py-0.5 text-soft">
      <ListIcon class="w-3.5 h-3.5" />
    </div>
    <div class="px-1 py-0.5 bg-inverse/10 text-inverse">
      <GridIcon class="w-3.5 h-3.5" />
    </div>
  </div>

  <div
    class={clsx(
      'flex items-center px-1 py-0.5 bg-inverse/10 rounded-sm shadow-sm',
      'border border-inverse/10 text-soft',
    )}
  >
    <SettingsTwoIcon class="w-3 h-3" />
    <span class="font-medium text-[10px] ml-1 mr-0.5 hidden @xl:inline-block">View</span>
    <ChevronDownIcon class="w-3 h-3" />
  </div>
</div>
