/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Default Audio Layout
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

[data-media-player] .vds-audio-layout:not([data-match]) {
  display: none !important;
}

:where([data-media-player][data-view-type='audio']) {
  --media-focus-ring: var(--audio-focus-ring, 0 0 0 3px rgb(78 156 246));
  border-radius: var(--audio-border-radius, 6px);
}

:where([data-media-player][data-view-type='audio'][data-focus] [data-media-provider]) {
  box-shadow: unset;
}

:where(.vds-audio-layout) {
  position: relative;
  display: inline-block;
  min-width: 100%;
  min-height: 80px;
  color: var(--audio-controls-color, #f5f5f5);
  background-color: var(--audio-bg, black);
  border: var(--audio-border, 1px solid rgb(255 255 255 / 0.15));
  border-radius: var(--audio-border-radius, 6px);
  box-sizing: border-box;
}

:where([data-media-player][data-focus]:not([data-playing]) .vds-audio-layout) {
  box-shadow: var(--media-focus-ring);
}

:where(.vds-audio-layout) {
  --brand: var(--audio-brand, #f5f5f5);
  --media-font-family: var(--audio-font-family, sans-serif);
  --media-slider-track-fill-bg: var(--brand);
  --media-chapters-progress-bg: var(--brand);
  --media-controls-color: var(--audio-controls-color, #f5f5f5);
  --media-tooltip-y-offset: 34px;
  --media-button-size: 34px;
  --media-slider-value-border: var(--audio-slider-value-border, 1px solid rgb(255 255 255 / 0.15));
  --media-menu-y-offset: -32px;
  --media-menu-radio-check-active-color: var(--brand);
  --media-focus-ring: var(--audio-focus-ring, 0 0 0 3px rgb(78 156 246));
}

:where(.vds-audio-layout[data-size='sm']) {
  --media-tooltip-y-offset: 12px;
}

:where(.vds-audio-layout .vds-chapter-ui) {
  position: relative;
  min-width: 100%;
  min-height: 80px;
  color: var(--audio-controls-color, #f5f5f5);
  background-color: var(--audio-bg, black);
  border: var(--audio-border, 1px solid rgb(255 255 255 / 0.15));
  border-radius: var(--audio-border-radius, 6px);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Info
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(.vds-audio-layout .vds-media-info) {
  display: flex;
  align-items: center;
}

:where(.vds-audio-layout .vds-media-title) {
  display: inline-block;
  font-size: var(--audio-title-font-size, 14px);
  font-weight: var(--audio-title-font-weight, 500);
  font-family: var(--audio-font-family, sans-serif);
  color: var(--audio-title-color, rgba(255 255 255 / 0.64));
  flex: 1 1 0%;
  padding-inline: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:where(.vds-audio-layout) .vds-media-title::before {
  content: '•';
  display: inline-block;
  margin-right: 6px;
  color: var(--audio-title-color, rgba(255 255 255 / 0.64));
}

:where(.vds-audio-layout) .vds-media-title:empty::before {
  content: '';
  margin-left: 0;
}

:where(.vds-audio-layout[data-size='sm'] .vds-media-title) {
  padding-left: 0;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Time Group
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(.vds-audio-layout .vds-time-group) {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

:where(.vds-audio-layout .vds-time-divider) {
  margin: 0 2px;
  color: var(--audio-time-divider-color, rgb(224, 224, 224));
}

:where(.vds-audio-layout[data-size='sm'] .vds-time) {
  padding: 0 6px;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Controls
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(.vds-audio-layout .vds-controls) {
  padding-inline: 8px;
}

:where(.vds-audio-layout .vds-controls-group) {
  display: flex;
  align-items: center;
  pointer-events: auto;
  width: 100%;
}

:where(.vds-audio-layout .vds-controls-group:first-child) {
  flex: 1 1 0%;
  min-width: 0;
}

:where(.vds-audio-layout .vds-controls-group:nth-child(2)) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -14px;
}

:where(.vds-audio-layout .vds-controls-group:last-child) {
  margin-bottom: 4px;
  z-index: 99;
}

:where(.vds-audio-layout .vds-button) {
  min-width: var(--audio-button-size, 40px);
  min-height: var(--audio-button-size, 40px);
  margin-right: 6px;
}

.vds-audio-layout :where(.vds-play-button) {
  width: var(--audio-play-button-size, 35px);
  height: var(--audio-play-button-size, 35px);
  background-color: var(--audio-play-button-bg, white);
  color: var(--audio-play-button-color, black);
  border-radius: var(--audio-play-button-border-radius, 100%);
  min-width: unset;
  min-height: unset;
}

:where(.vds-audio-layout .vds-play-button svg) {
  border-radius: var(--audio-play-button-border-radius, 100%);
}

:where(.vds-audio-layout[data-size='sm'] .vds-play-button) {
  margin: 0 10px;
}

:where(.vds-audio-layout[data-size='sm'] .vds-controls-group:first-child) {
  margin-top: 8px;
  margin-bottom: 16px;
}

:where(.vds-audio-layout[data-size='sm'] .vds-controls-group:nth-child(3)) {
  margin-top: -12px;
}

:where(.vds-audio-layout[data-size='sm'] .vds-controls-group:last-child) {
  --media-tooltip-y-offset: 96px;
  margin-top: -6px;
  margin-bottom: 16px;
}

:where(.vds-audio-layout[data-size='sm'] .vds-play-tooltip) {
  --media-tooltip-y-offset: 98px;
}

:where(
    .vds-audio-layout[data-size='sm']
      .vds-controls-group:last-child
      .vds-button:not(.vds-play-button)
  ) {
  margin-right: unset;
}

:where(.vds-audio-layout[data-size='sm'] .vds-controls-group:last-child .vds-button) {
  width: 36px;
  height: 36px;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Sliders
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(.vds-audio-layout .vds-time-slider) {
  width: 100%;
  margin-top: -8px;
  z-index: 98;
}

:where(.vds-audio-layout .vds-time-slider .vds-thumbnail) {
  display: none;
}

:where(.vds-audio-layout .vds-volume-slider) {
  min-width: 72px;
  max-width: 72px;
  margin-left: -0.5px;
  margin-right: 8px;
  transition: transform 0.15s ease;
}

:where(.vds-audio-layout[data-size='sm'] .vds-time-slider .vds-slider-preview) {
  --media-slider-preview-offset: 44px;
}

:where(.vds-audio-layout .vds-volume-slider .vds-slider-preview) {
  --media-slider-preview-offset: 28px;
}

:where(.vds-audio-layout .vds-slider-chapter-title) {
  color: var(--audio-slider-chapter-title-color, black);
  margin-bottom: 6px;
}

:where(.dark .vds-audio-layout .vds-slider-chapter-title) {
  color: var(--audio-slider-chapter-title-color, white);
}

:where(.vds-audio-layout[data-size='sm'] .vds-slider-chapter-title) {
  display: none;
}

:where([data-buffering] .vds-audio-layout .vds-track-progress) {
  --stripe-color: var(--audio-buffering-stripe-color, rgb(0 0 0 / 0.25));
  --stripe-size: var(--audio-buffering-stripe-size, 30px);
  width: 100% !important;
  background-image: linear-gradient(
    -45deg,
    var(--stripe-color) 25%,
    transparent 25%,
    transparent 50%,
    var(--stripe-color) 50%,
    var(--stripe-color) 75%,
    transparent 75%,
    transparent
  );
  background-size: var(--stripe-size) var(--stripe-size);
  animation: vds-audio-track-progress var(--audio-buffering-stripe-speed, 2s) linear infinite;
}

@keyframes vds-audio-track-progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: var(--stripe-size) var(--stripe-size);
  }
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Menus
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(.vds-audio-layout .vds-menu-items:not([data-submenu])) {
  max-height: var(--audio-menu-max-height, 320px);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Captions
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

:where(.vds-audio-layout .vds-captions) {
  --cue-font-size: var(--audio-cue-font-size, 14px);
  display: inline-block;
  position: absolute;
  width: 100%;
  top: unset;
  bottom: 100%;
  text-align: center;
  min-height: var(--audio-captions-min-height, 28px);
  margin-bottom: var(--audio-captions-offset, 6px);
  background-color: var(--audio-captions-bg, transparent);
}

:where(.vds-audio-layout .vds-captions [part='cue']) {
  color: var(--audio-cue-color, white);
  border: var(--audio-cue-border, 1px solid rgb(255 255 255 / 0.15));
  background-color: var(--audio-cue-bg, black);
}

:where([data-preview] .vds-audio-layout:not([data-size='sm']) .vds-captions) {
  opacity: 0;
}
