/* Place UI on top of media provider. */
.media-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Avoid double controls on iOS when in fullscreen. */
media-player[data-ios-controls] .media-ui,
/* Hide UI while media is loading, or user is idle. */
media-player:not([data-can-play]) .media-ui,
media-player[data-user-idle] .media-ui {
  opacity: 0;
  pointer-events: none;
}
