---
import clsx from 'clsx';

import { kebabToTitleCase } from '../../../utils/string';
import IconsDialogManager from './icons-dialog-manager.svelte';
import IconsSearchManager from './icons-search-manager.svelte';
import { loadIcons } from './loader';

interface Props {
  label: string;
  compact?: boolean;
}

const { label, compact } = Astro.props;

const icons = await loadIcons();
---

<IconsDialogManager client:load>
  <IconsSearchManager client:load>
    <section
      class={clsx(
        'icons-grid grid gap-4 grid-cols-[repeat(auto-fill,minmax(10rem,1fr))]',
        compact ? '768:gap-6' : '768:gap-10',
      )}
      aria-label={label}
    >
      {
        Object.keys(icons).map((icon) => (
          <button
            class={clsx(
              'flex flex-col items-center group justify-center cursor-pointer p-2 rounded-sm',
            )}
            aria-haspopup="dialog"
            aria-expanded="false"
            aria-label={kebabToTitleCase(icon) + ' Icon'}
            data-icon={icon}
          >
            <div
              class={clsx(
                'flex flex-col items-center justify-center text-inverse w-full border border-border',
                'hocus:bg-elevate hocus:border-2 hocus:border-brand/40',
                'h-[120px] rounded-md transition-colors duration-150',
              )}
            >
              <svg
                role="img"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                set:html={icons[icon]}
              />
            </div>
            <div class="text-center text-soft text-sm mt-4 w-full opacity-0" data-icon-name>
              X
            </div>
          </button>
        ))
      }
    </section>
  </IconsSearchManager>
</IconsDialogManager>
