---
import clsx from 'clsx';

import InfoIcon from '~astro-icons/lucide/info';

import Menu from '../../../components/menu.svelte';

interface Props {
  label: string;
  center?: boolean;
  contain?: boolean;
}

const { label, center, contain } = Astro.props;
---

<Menu class="ml-px rounded-full" client:visible placement="top" type="dialog">
  <Fragment slot="trigger">
    <InfoIcon class="w-[14px] h-[14px] hover:text-inverse" />
    <span class="sr-only">{label}</span>
  </Fragment>

  <div
    class={clsx(
      'max-h-[300px] leading-5 whitespace-normal text-soft text-[13px] content',
      'overflow-auto scrollbar font-normal not-prose',
      contain ? 'max-w-[45ch]' : 'max-w-[88ch]',
      center && 'text-center',
    )}
    slot="content"
  >
    <slot />
  </div>
</Menu>

<style>
  div :global(p) {
    margin: 12px 0;
    font-weight: 400;
  }

  div :global(p + ul) {
    margin-top: -4px;
  }

  div :global(ul),
  div :global(ol) {
    margin: 8px 0;
    padding-left: 16px;
    list-style: disc;
  }

  div :global(li) {
    padding: 0;
  }

  div :global(code) {
    font-weight: 500;
    font-size: 0.9em !important;
    padding: 0 !important;
  }

  div :global(pre) {
    overflow: visible !important;
  }
</style>
