---
import clsx from 'clsx';

import type { SidebarFeatureItem } from '../../nav/sidebar-items';

interface Props {
  categories: SidebarFeatureItem[];
  activeCategory: string;
}

const { categories, activeCategory } = Astro.props;
---

<div class="categories">
  {
    categories?.map(({ title, href, Icon }) => (
      <a class="group flex items-center px-2 py-1.5 mt-px -ml-1.5 rounded-md" {href}>
        {Icon && (
          <div
            class={clsx(
              'p-[5px] flex items-center justify-center border rounded-md mr-2.5',
              'shadow-sm',
              title === activeCategory
                ? 'text-white dark:text-black bg-brand/90 border-brand/20 ring-brand/40 ring-2 ring-offset-1 ring-offset-body'
                : 'text-soft/90 border-border/90 group-hocus:border-soft bg-elevate group-hocus:text-inverse',
            )}
          >
            <Icon class="w-3.5 h-3.5" />
          </div>
        )}

        <span
          class={clsx(
            title === activeCategory
              ? 'text-inverse font-medium'
              : 'text-soft/90 group-hocus:text-inverse',
          )}
        >
          {title}
        </span>
      </a>
    ))
  }
</div>
