.media-controls-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* prevent blocking lower elements (e.g., gestures). */
  pointer-events: none;
  /** place above poster (optional). */
  z-index: 1;
}

.media-controls-group {
  display: flex;
  width: 100%;
  min-height: 48px;
  opacity: 1;
  padding: 8px;
  transition: opacity 200ms ease;
  /** prevent clicks triggering lower elements. */
  pointer-events: auto;
}

/* Avoid double controls on iOS when in fullscreen. */
media-player[data-ios-controls] .media-controls-group,
/* Hide controls if media is not ready for playback, or user is idle. */
media-player[data-user-idle] .media-controls-group,
media-player:not([data-can-play]) .media-controls-group {
  opacity: 0;
  pointer-events: none;
}
