@import './styles/buttons.css';
@import './styles/captions.css';
@import './styles/chapter-title.css';
@import './styles/controls.css';
@import './styles/gestures.css';
@import './styles/menus.css';
@import './styles/poster.css';
@import './styles/sliders.css';
@import './styles/time.css';
@import './styles/tooltips.css';

media-player[data-view-type='video'] {
  --media-brand: #f5f5f5;
  --media-focus-ring-color: #4e9cf6;
  --media-focus-ring: 0 0 0 3px var(--media-focus-ring-color);

  --media-tooltip-y-offset: 30px;
  --media-menu-y-offset: 30px;

  font-family: sans-serif;
  width: 100%;
  aspect-ratio: 16 / 9;
  color: #f5f5f5;
  background-color: #212121;
  border-radius: 6px;
  overflow: hidden;
  contain: style;
}

media-player[data-focus]:not([data-playing]) {
  box-shadow: var(--media-focus-ring);
}
